<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/0_Missing_Values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving diabetes.csv to diabetes.csv

In [2]:
import pandas as pd
import numpy as np

In [3]:
# create a data frame named diabetes and load the csv file
diabetes = pd.read_csv("diabetes.csv")
#print the head 
diabetes.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [4]:
#Glucose BloodPressure, SkinThickness, Insulin, and BMI features cannot be zero ,we will impute zeros with nan value in these features.
cols = ["Glucose", "BloodPressure", "SkinThickness", "Insulin", "BMI"]
diabetes[cols] = diabetes[cols].replace(['0', 0], np.nan)

In [5]:
#display the no of null values in each feature
diabetes.isnull().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [6]:
diabetes.isnull().head()

   Pregnancies  Glucose  ...    Age  Outcome
0        False    False  ...  False    False
1        False    False  ...  False    False
2        False    False  ...  False    False
3        False    False  ...  False    False
4        False    False  ...  False    False

[5 rows x 9 columns]

In [7]:
diabetes[diabetes['BMI'].isnull()]

     Pregnancies  Glucose  ...  Age  Outcome
9              8    125.0  ...   54        1
49             7    105.0  ...   24        0
60             2     84.0  ...   21        0
81             2     74.0  ...   22        0
145            0    102.0  ...   21        0
371            0    118.0  ...   21        0
426            0     94.0  ...   25        0
494            3     80.0  ...   22        0
522            6    114.0  ...   26        0
684            5    136.0  ...   69        0
706           10    115.0  ...   30        1

[11 rows x 9 columns]

In [8]:
diabetes.notnull().head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction   Age  Outcome
0         True     True           True  ...                      True  True     True
1         True     True           True  ...                      True  True     True
2         True     True           True  ...                      True  True     True
3         True     True           True  ...                      True  True     True
4         True     True           True  ...                      True  True     True

[5 rows x 9 columns]

In [10]:
diabetes.shape

(768, 9)

In [11]:
diabetes.dropna(how='any').shape

(392, 9)

In [12]:
diabetes.dropna(how='all').shape

(768, 9)

In [9]:
diabetes.dropna(subset=['SkinThickness', 'Insulin'], how='all').shape

(541, 9)

In [13]:
diabetes.dropna(how='any', thresh=1)

     Pregnancies  Glucose  ...  Age  Outcome
0              6    148.0  ...   50        1
1              1     85.0  ...   31        0
2              8    183.0  ...   32        1
3              1     89.0  ...   21        0
4              0    137.0  ...   33        1
..           ...      ...  ...  ...      ...
763           10    101.0  ...   63        0
764            2    122.0  ...   27        0
765            5    121.0  ...   30        0
766            1    126.0  ...   47        1
767            1     93.0  ...   23        0

[768 rows x 9 columns]