<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/1_Add_column_names_to_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importing the pandas library
import pandas as pd
  
# creating lists
l1 =["Amar", "Barsha", "Carlos", "Tanmay", "Misbah"]
l2 =["Alpha", "Bravo", "Charlie", "Tango", "Mike"]
l3 =[23, 25, 22, 27, 29]
l4 =[69, 54, 73, 70, 74]
  
# creating the DataFrame
team = pd.DataFrame(list(zip(l1, l2, l3, l4))) 
  
# displaying the DataFrame
print(team)

        0        1   2   3
0    Amar    Alpha  23  69
1  Barsha    Bravo  25  54
2  Carlos  Charlie  22  73
3  Tanmay    Tango  27  70
4  Misbah     Mike  29  74

- **Adding column name** to the DataFrame : We can add columns to an existing DataFrame using its **columns** attribute.

In [2]:
# adding column name to the respective columns
team.columns =['Name', 'Code', 'Age', 'Weight']
  
# displaying the DataFrame
print(team)

     Name     Code  Age  Weight
0    Amar    Alpha   23      69
1  Barsha    Bravo   25      54
2  Carlos  Charlie   22      73
3  Tanmay    Tango   27      70
4  Misbah     Mike   29      74