<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/1_Anova_F_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Anova-F Test

<p style='text-align: right;'> 20 points</p>

The F-value scores examine the varaiance by grouping the numerical feature by the target vector, the means for each group are significantly different.

References:
1. https://www.youtube.com/watch?v=9zrQ_c5RZkI

In [ ]:
#import libraries
from sklearn.feature_selection import f_classif, SelectPercentile


# Initialise SelectPercentile function with parameters f_classif and percentile as 80
Anova_test= SelectPercentile(f_classif, percentile=80)

#Fit the above object to the features and target i.e X and Y
Anova_model= Anova_test.fit(X, y)

here you have used f_classif for Anova-F test. To know more about this test you can check this artical.

https://towardsdatascience.com/anova-for-feature-selection-in-machine-learning-d9305e228476

In [ ]:
# return scores of anova model
Anova_model.scores_

array([ 39.67022739, 213.16175218,   3.2569504 ,   4.30438091,
        13.28110753,  71.7720721 ,  23.8713002 ,  46.14061124])

In [ ]:
# use generate_feature_scores_df function to get features and their respective scores by passing X and Anova_model.scores_ as score in function 

feature_scores_df= generate_feature_scores_df(X, Anova_model.scores_)

# print feature_scores_df
feature_scores_df

                   Features       Score
0               Pregnancies   39.670227
1                   Glucose  213.161752
2             BloodPressure    3.256950
3             SkinThickness    4.304381
4                   Insulin   13.281108
5                       BMI   71.772072
6  DiabetesPedigreeFunction   23.871300
7                       Age   46.140611

In [ ]:
X_new = Anova_model.transform(X)
X_new = pd.DataFrame(X_new)

In [ ]:
# Get all supported columns values in Anova_model with indices=True
cols = get_selected_features(X, X_new)

# Reduce X to the selected features of anova model using tranform 
#X_new = Anova_model.transform(X)

In [ ]:
#print X_new.head()
X_new.columns = cols
X_new.head()

   Pregnancies  Glucose  Insulin   BMI  DiabetesPedigreeFunction   Age
0          6.0    148.0      0.0  33.6                     0.627  50.0
1          1.0     85.0      0.0  26.6                     0.351  31.0
2          8.0    183.0      0.0  23.3                     0.672  32.0
3          1.0     89.0     94.0  28.1                     0.167  21.0
4          0.0    137.0    168.0  43.1                     2.288  33.0

Hey brighty! Hope you learned to implement Anova F-test method for feature selection. It has selected 6 best features as you can see in above output