<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/1_Arithmetic_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **8. Python Arithmetic Operators**

|Operator      |Description                    |  Syntax  |               
|--------------|-------------------------------|----------|
|+             |Addition                       |   x + y  |
|-             |Subtraction                    |   x - y  |
|*             |Multiplication                 |   x*y    |
|/             |Division                       |   x / y  |
|%             |Modulus                        |   x % y  |
|**            |Exponentiation                 |   x ** y |
|//            |Floor division                 |   x // y |

#### **8.1) Addition**

In [ ]:
a = input()

4

In [ ]:
print(a+2)

TypeError: ignored

### **8.2) Extend**

In [ ]:
list1 = [3, 4, 5, 7, 9]
list1.extend([34,5])
print(list1)

[3, 4, 5, 7, 9, 34, 5]

#### **8.3) Multiplication**

In [ ]:
b = "Hello, World!"
print(b[2:5:2]*2)

lolo

In [ ]:
a = 'hi'*3
a

'hihihi'

In [ ]:
a = ('hi')*3
a

'hihihi'

In [ ]:
a = ['hi']*3
a

['hi', 'hi', 'hi']

#### **8.4) Floor Division**

In [ ]:
quotient = 7 // 3     # This is the integer division operator
print(quotient)

2

In [ ]:
# What is the output of the following statement?
# Floor Division (Arithmetic Operation)

x = 8
y = 2
print(x // y)

4

#### Which one of these is floor division?

a. /

b. //

c. %

d. None

#### **8.5) Modulus**
- Reminder

In [ ]:
remainder = 7 % 3
print(remainder)

1

### Question

In [ ]:
1a = 1.0
print(1a%2)

SyntaxError: ignored

- **Variables** can't start with a **number**

In [ ]:
a = 1.0
print(a % 2 )

1.0

#### **8.6) Power**

In [ ]:
print(2*3**3*4)

216

--------------------------------------------------------------------------------

### **9. Python Comparison Operators**

|Operator    |Description                      |Syntax     |
|------------|---------------------------------|-----------|
|==          |Equal                            |  x == y   |
|!=          |Not equal                        |  x != y   |
|>           |Greater than                     |  x > y    |
|<           |Less than                        |  x < y    |
|>=          |Greater than or equal to         |  x >= y   |
|<=          |Less than or equal to            |  x <= y   |

##### **Question 1**

In [ ]:
num1 = 3**5
num2 = 3**5.0
print(num1 == num2)

True

##### **Question 2**

In [ ]:
x,y = 10, 50
if (x**2 > 100 and y < 100):
  print(x,y)

# A. Nothing will print
# B. 10 50
# C. 100 500
# D. Error

In [ ]:
x,y = 10, 50
if (x**2 > 90 and y < 100):
  print(x,y)

10 50

##### **Question 3**

In [ ]:
x = "Community"
y = "Community"
print(x > y)

False

##### **Question 4**

In [ ]:
print((8 < 9) > 0)

True

##### **Question 5**

In [ ]:
x = y = 10
y = x+=1
print(y)

SyntaxError: ignored

##### **Question 6**

In [ ]:
a = [10, 20]
b = a
b += [30, 40]
print(a == b)

True

----------------------------------

### **10. Logical Operators**

|Operator |Description                                             |Syntax   |
|---------|--------------------------------------------------------|---------|
|and      |Returns **True** if **both statements are true**        | x and y |
|or       |Returns **True** if **one of the statements is true**   | x or y  |
|not      |Reverse the result, returns **False** if the result is  | not x   |
|         |**true**. **True** if operand is **false**              |         |

In [ ]:
# Examples of Logical Operator
a = True
b = False
  
# Print a and b is False
print(a and b)
  
# Print a or b is True
print(a or b)
  
# Print not a is False
print(not a)

False
True
False

In [ ]:
# returns True because 5 is greater than 3 AND 5 is less than 10
x = 5
print(x > 3 and x < 10)

True

In [ ]:
# returns False because not is used to reverse the result
x = 5
print(not(x > 3 and x < 10))

False

In [ ]:
# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)
x = 5
print(x > 3 or x < 4)

True

#### **Question 1**

In [ ]:
a = True
b = False
print(a or a and b)

True

-----------------------------

### **12. Membership Operators**

- Membership operators are used to test if a sequence is presented in an object

|Operator  |Description                                              |Example  |
|----------|---------------------------------------------------------|---------|
|in        |Returns True if a sequence with the specified value is present in the object  | x in y|
|not in    |Returns True if a sequence with the specified value is not present in the object | x not in y |

In [ ]:
l = [10, 20, 30, 40, 50]
print(20 in l)
print(300 in l)

True
False

In [ ]:
s = "Python string"

print("Python" in s)
print("python" in s)

True
False

In [ ]:
s = "Python string"

print("Python" not in s)
print("python" not in s)

False
True

In [ ]:
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [ ]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True

In [ ]:
# Membership test in tuple
my_tuple = ('a', 'p', 'p', 'l', 'e',)

# In operation
print('a' in my_tuple)
print('b' in my_tuple)

# Not in operation
print('g' not in my_tuple)

True
False
True