<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/1_cross_val_score_purchased.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- https://www.youtube.com/watch?v=Bcw8S449QW4 ---> How to select the best model using cross validation

------------------------

### **Model Selection and Cross Validation**

In [20]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import numpy as np
import pandas as pd

In [21]:
from sklearn.model_selection import train_test_split

from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [4]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/Purchased Data.zip')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
x = df[['Age','EstimatedSalary']]
y = df['Purchased']

### **Knn (KNeighborsClassifier)**

##### **train_test_split method**

##### **random_state=5, 3, 1, 2, 7**

#### **iteration 1**

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state =5)

In [9]:
KNN = KNeighborsClassifier(n_neighbors=5)
KNN.fit(x_train, y_train)
y_pred = KNN.predict(x_test)
accuracy_score(y_test, y_pred)

0.77

In [10]:
x_train.head()

     Age  EstimatedSalary
24    46            23000
33    28            44000
396   51            23000
273   39           106000
246   35            50000

#### **iteration 2**

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state =3)

In [12]:
KNN = KNeighborsClassifier(n_neighbors=5)
KNN.fit(x_train, y_train)
y_pred = KNN.predict(x_test)
accuracy_score(y_test, y_pred)

0.81

In [13]:
x_train.head()

     Age  EstimatedSalary
75    34           112000
14    18            82000
47    27            54000
46    25            79000
379   58            23000

#### **iteration 3**

In [14]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state =1)

In [15]:
KNN = KNeighborsClassifier(n_neighbors=5)
KNN.fit(x_train, y_train)
y_pred = KNN.predict(x_test)
accuracy_score(y_test, y_pred)

0.74

#### **iteration 4**

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state =2)

In [17]:
KNN = KNeighborsClassifier(n_neighbors=5)
KNN.fit(x_train, y_train)
y_pred = KNN.predict(x_test)
accuracy_score(y_test, y_pred)

0.78

#### **iteration 5**

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state =7)

In [19]:
KNN = KNeighborsClassifier(n_neighbors=5)
KNN.fit(x_train, y_train)
y_pred = KNN.predict(x_test)
accuracy_score(y_test, y_pred)

0.77

---------------------------

### **cross_val_score**

In [22]:
from sklearn.model_selection import cross_val_score

In [24]:
KNN = KNeighborsClassifier(n_neighbors=4)
print(cross_val_score(KNN, x, y, cv=10, scoring ='accuracy'))

[0.725 0.9   0.9   0.9   0.8   0.7   0.775 0.775 0.75  0.7  ]

In [25]:
KNN = KNeighborsClassifier(n_neighbors=4)
print(cross_val_score(KNN, x, y, cv=10, scoring ='accuracy').mean())

0.7925

In [26]:
logreg = LogisticRegression()
print (cross_val_score(logreg, x, y, cv=10, scoring = 'accuracy').mean())

0.6425000000000001