<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/1_Interview_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Interview Questions

### 1. For Loop

In [1]:
# What is the output?

word1 = "welcome"
word2 = "home"
r = []
for x in word1:
  if x in word2:
    r.append(x)
print(r[2]+r[1]+r[2])

mom

In [2]:
# What is the output of this code?

lst = [1, 2, 3, 4, 5]
for i in range(1,6):
  lst[i:i] = [i]
print(lst)

[1, 1, 2, 3, 4, 5, 2, 3, 4, 5]

In [3]:
# What is the output of this code?

num1 = [1,3,4,5]
num2 = num1
num2[0] = 5
print(num1[0])

5

In [4]:
# What is the output of this code?

li = list()
for i in range(1,5):
  li.append(i+2)
print(li)

[3, 4, 5, 6]

### AttributeError: 'dict' object has no attribute 'append'

li = {}
for i in range(1,5):
  li.append(i+2)
print(li)

### AttributeError: 'tuple' object has no attribute 'append'

li = ()
for i in range(1,5):
  li.append(i+2)
print(li)

In [5]:
list = [2, 33, 222, 14, 25]
list[-1]

25

In [6]:
list1 = [11,2,23]
list2 = [11,2,2]
print(list1 < list2)

False

In [7]:
list1 = [11,2,23]
list2 = [11,2,2]
print(list1 > list2)

True

In [8]:
# What is the output of this code?

for i in range(4):
  if(i==2):
    print('n', end="")
  elif(i==1):
    print('e', end="")
  else:
    print('t', end="")

tent

In [9]:
# What is the output of this code?

x,y = 0, True
x = x+1
y = int(True)
print(id(x) == id(y))

True

In [10]:
# What is the output of the following statement?

x = '24' + '16'
print(x)

2416

### 2. List

### Which method is used to add an element at the end of a list?

A. insert()         B. removeLast()
C. append()         D. None of these

In [16]:
List = [1,2,3,4,5]
List.append(6)
List

[1, 2, 3, 4, 5, 6]

### 3. Tupple

### 4. Dictionary

### 5. Python Arithmetic Operators
-   +       Addition
-   -       Subtraction
-   *       Multiplication
-   /       Division
-   %       Modulus
-   **      Exponentiation
-  //       Floor division

In [11]:
# What is the output of the following statement?
# Floor Division (Arithmetic Operation)

x = 8
y = 2
print(x // y)

4

In [12]:
a = "(hello, python, learning)"
b = tuple(a)
len(b)

25

In [13]:
b = "Hello, World!"
print(b[2:5:2]*2)

lolo

## 6. Python Comparison Operators
==          Equal
!=          Not equal
>           Greater than
<           Less than
>=          Greater than or equal to
<=          Less than or equal to

In [14]:
num1 = 3**5
num2 = 3**5.0
print(num1 == num2)

True

----------------------------------

### 7. Def Function

In [ ]:
x = 5
def add():
  x = 3
  x = x + 5
  print(x)

add()
print(x)

8
5

In [ ]:
def add():
  x = 3
  x = x + 5
  print(x)

add()

8

-----------------------------