<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/1_Interview_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Interview Questions

### 1. For Loop

In [ ]:
# What is the output?

word1 = "welcome"
word2 = "home"
r = []
for x in word1:
  if x in word2:
    r.append(x)
print(r[2]+r[1]+r[2])

mom

In [ ]:
# What is the output of this code?

lst = [1, 2, 3, 4, 5]
for i in range(1,6):
  lst[i:i] = [i]
print(lst)

[1, 1, 2, 3, 4, 5, 2, 3, 4, 5]

In [ ]:
# What is the output of this code?

num1 = [1,3,4,5]
num2 = num1
num2[0] = 5
print(num1[0])

5

In [ ]:
# What is the output of this code?

li = list()
for i in range(1,5):
  li.append(i+2)
print(li)

[3, 4, 5, 6]

### AttributeError: 'dict' object has no attribute 'append'

li = {}
for i in range(1,5):
  li.append(i+2)
print(li)

### AttributeError: 'tuple' object has no attribute 'append'

li = ()
for i in range(1,5):
  li.append(i+2)
print(li)

In [ ]:
list = [2, 33, 222, 14, 25]
list[-1]

25

In [ ]:
list1 = [11,2,23]
list2 = [11,2,2]
print(list1 < list2)

False

In [ ]:
list1 = [11,2,23]
list2 = [11,2,2]
print(list1 > list2)

True

In [ ]:
# What is the output of this code?

for i in range(4):
  if(i==2):
    print('n', end="")
  elif(i==1):
    print('e', end="")
  else:
    print('t', end="")

tent

In [ ]:
# What is the output of this code?

x,y = 0, True
x = x+1
y = int(True)
print(id(x) == id(y))

True

In [ ]:
# What is the output of the following statement?

x = '24' + '16'
print(x)

2416

-----------------------------------------------

### 2. if else

In [1]:
# What is the output of this code?

m=2;
n=[1,2,3];
if n[m]==m:
  print("2");
else:
  print("3");

3

------------------------------------------

### 3. List

### Which method is used to add an element at the end of a list?

A. insert()         B. removeLast()
C. append()         D. None of these

In [ ]:
List = [1,2,3,4,5]
List.append(6)
List

[1, 2, 3, 4, 5, 6]

#### a. append

In [ ]:
list2 = [3,4,5,7,9]
list2.append([34,5])
print(list2)

[3, 4, 5, 7, 9, [34, 5]]

#### b. extend

In [ ]:
list1 = [3,4,5,7,9]
list1.extend([34,5])
print(list1)

[3, 4, 5, 7, 9, 34, 5]

### c. pop

In [13]:
# pop() removes the element at the position specified in the parameter.

list1 = [3,4,5,7,9,1]
list1.pop(1)
print(list1)

[3, 5, 7, 9, 1]

In [12]:
list1 = [3,4,5,7,9,1]
list1.pop()
print(list1)

[3, 4, 5, 7, 9]

### 4. Tupple

In [ ]:
a = "(hello, python, learning)"
b = tuple(a)
len(b)

25

### 5. Dictionary

### 6. String

In [5]:
a = ['gg','ca']
max(a)

'gg'

In [6]:
a = ['gg',0]
max(a)

TypeError: ignored

### 6. Python Arithmetic Operators
+       Addition
-       Subtraction
*       Multiplication

/       Division

%       Modulus

**      Exponentiation

//      Floor division

#### i) Addition

In [ ]:
a = input()

10

In [ ]:
print(a+2)

TypeError: ignored

#### iii). Multiplication

In [ ]:
b = "Hello, World!"
print(b[2:5:2]*2)

lolo

In [10]:
a = 'hi'*3
a

'hihihi'

In [7]:
a = ('hi')*3
a

'hihihi'

In [9]:
a = ['hi']*3
a

['hi', 'hi', 'hi']

#### vii). Floor Division

In [ ]:
quotient = 7 // 3     # This is the integer division operator
print(quotient)

2

In [ ]:
# What is the output of the following statement?
# Floor Division (Arithmetic Operation)

x = 8
y = 2
print(x // y)

4

#### v). Modulus
- Reminder

In [ ]:
remainder = 7 % 3
print(remainder)

1

In [ ]:
1a = 1.0
print(1a%2)

SyntaxError: ignored

- **Variables** can't start with a **number**

## 6. Python Comparison Operators
==          Equal
!=          Not equal
>           Greater than
<           Less than
>=          Greater than or equal to
<=          Less than or equal to

In [ ]:
num1 = 3**5
num2 = 3**5.0
print(num1 == num2)

True

----------------------------------

### 7. Def Function

In [ ]:
x = 5
def add():
  x = 3
  x = x + 5
  print(x)

add()
print(x)

8
5

In [ ]:
def add():
  x = 3
  x = x + 5
  print(x)

add()

8

-----------------------------

In [4]:
# What is the output of below code?

t = ('ML', 'Data', 'Science')
print(t.index('data'))

ValueError: ignored

In [3]:
# What is the output of below code?

t = ('ML', 'Data', 'Science')
print(t.index('Data'))

1