<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/1_Missing_Value_Ratio_Threshold.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Download the dataset from https://github.com/arupbhunia/Data-Pre-processing/blob/master/datasets/diabetes.csv

Dataset used - diabetes.csv

Download instruction: go to the given link--->click raw button on top right corner---->Press Ctrl+S -->save it as .csv file.

## Missing Value Ratio Threshold

<p style='text-align: right;'> 20 points</p>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving diabetes.csv to diabetes (1).csv

In [ ]:
# create a data frame named diabetes and load the csv file
diabetes = pd.read_csv("diabetes.csv")
#print the head 
diabetes.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
diabetes.shape

(768, 9)

We know that some features can not be zero(e.g. a person's blood pressure can not be 0) hence we will impute zeros with nan value in these features.

Reference to impute: https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.DataFrame.replace.html

In [ ]:
#Glucose BloodPressure, SkinThickness, Insulin, and BMI features cannot be zero ,we will impute zeros with nan value in these features.
cols = ["Glucose", "BloodPressure", "SkinThickness", "Insulin", "BMI"]
diabetes[cols] = diabetes[cols].replace(['0', 0], np.nan)

In [ ]:
#display the no of null values in each feature
diabetes.isnull().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

Now let's see for each feature what is the percentage of having missing values.

In [ ]:
#percentage of missing values for Glucose
diabetes['Glucose'].isnull().sum()/diabetes['Glucose'].isnull().count()*100

0.6510416666666667

In [ ]:
# calculate the percentage for Bloodpressure
diabetes['BloodPressure'].isnull().sum()/diabetes['BloodPressure'].isnull().count()*100

4.557291666666666

In [ ]:
# calculate the percentage for SkinThickness
diabetes['SkinThickness'].isnull().sum()/diabetes['SkinThickness'].isnull().count()*100

29.557291666666668

In [ ]:
# calculate the percentage for Insulin
diabetes['Insulin'].isnull().sum()/diabetes['Insulin'].isnull().count()*100

48.69791666666667

In [ ]:
# calculate the percentage for BMI
diabetes['BMI'].isnull().sum()/diabetes['BMI'].isnull().count()*100

1.4322916666666665

Hey can you see that a large number of data missing in SkinThickness and Insulin.

Here we will keep only those features which are having missing data less than 10% as our threshold.

Reference to check methods for dropping nan in pandas- https://www.youtube.com/watch?v=57vFbsiZYHg

You can also check its document official: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html

In [ ]:
#we are keep only those features which are having missing data less than 10% 
diabetes_missing_value_threshold= diabetes.drop(['SkinThickness', 'Insulin'], axis=1)

# print diabetes_missing_value_threshold
diabetes_missing_value_threshold

     Pregnancies  Glucose  ...  Age  Outcome
0              6    148.0  ...   50        1
1              1     85.0  ...   31        0
2              8    183.0  ...   32        1
3              1     89.0  ...   21        0
4              0    137.0  ...   33        1
..           ...      ...  ...  ...      ...
763           10    101.0  ...   63        0
764            2    122.0  ...   27        0
765            5    121.0  ...   30        0
766            1    126.0  ...   47        1
767            1     93.0  ...   23        0

[768 rows x 7 columns]

Let's now Seperate the data diabetes_missing_value_threshold into features and labels 

Hey buddy! label is something which is dependent on other features for its outcome. You can also called it as our Target variable which we predict using ML algorithms.

Can you think which column would be considered as label.

In [ ]:

diabetes_missing_value_threshold_features = diabetes_missing_value_threshold.drop('Outcome', axis = 1)

diabetes_missing_value_threshold_label= diabetes_missing_value_threshold["Outcome"]

In [ ]:
#print diabetes_missing_value_threshold_features
diabetes_missing_value_threshold_features

     Pregnancies  Glucose  BloodPressure   BMI  DiabetesPedigreeFunction  Age
0              6    148.0           72.0  33.6                     0.627   50
1              1     85.0           66.0  26.6                     0.351   31
2              8    183.0           64.0  23.3                     0.672   32
3              1     89.0           66.0  28.1                     0.167   21
4              0    137.0           40.0  43.1                     2.288   33
..           ...      ...            ...   ...                       ...  ...
763           10    101.0           76.0  32.9                     0.171   63
764            2    122.0           70.0  36.8                     0.340   27
765            5    121.0           72.0  26.2                     0.245   30
766            1    126.0           60.0  30.1                     0.349   47
767            1     93.0           70.0  30.4                     0.315   23

[768 rows x 6 columns]

In [ ]:
#print diabetes_missing_value_threshold_label
diabetes_missing_value_threshold_label

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64