<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/1_MinMaxScaler.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# from sklearn.preprocessing import MinMaxScaler

# scaler = MinMaxScaler()
# scaler.fit_transform(X_train)
# scaler.transform(X_test)

----------

In [1]:
from google.colab import files
uploaded = files.upload()

Saving diabetes_cleaned.csv to diabetes_cleaned.csv

In [3]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import MinMaxScaler

In [4]:
# load the csv to dataframe name "diabetes" and print the head values
diabetes = pd.read_csv("diabetes_cleaned.csv")

# display diabetes.head()
diabetes.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction   Age  Outcome
0          6.0    148.0           72.0  ...                     0.627  50.0        1
1          1.0     85.0           66.0  ...                     0.351  31.0        0
2          8.0    183.0           64.0  ...                     0.672  32.0        1
3          1.0     89.0           66.0  ...                     0.167  21.0        0
4          0.0    137.0           40.0  ...                     2.288  33.0        1

[5 rows x 9 columns]

In [5]:
# seperate the features and the target as x and y 
x = diabetes.drop('Outcome', axis = 1)

y = diabetes["Outcome"]

In [9]:
# Return  the variance for X along the specified axis=0.
x.var(axis=0)

Pregnancies                   11.354056
Glucose                      929.680350
BloodPressure                146.321591
SkinThickness                 77.285567
Insulin                     9484.259268
BMI                           48.813618
DiabetesPedigreeFunction       0.109779
Age                          138.303046
dtype: float64

### **a) Standard**

In [6]:
scaler = MinMaxScaler()                           
X_scaled_df = scaler.fit_transform(x)
X_scaled_df

array([[0.35294118, 0.67096774, 0.48979592, ..., 0.31492843, 0.23441503,
        0.48333333],
       [0.05882353, 0.26451613, 0.42857143, ..., 0.17177914, 0.11656704,
        0.16666667],
       [0.47058824, 0.89677419, 0.40816327, ..., 0.10429448, 0.25362938,
        0.18333333],
       ...,
       [0.29411765, 0.49677419, 0.48979592, ..., 0.16359918, 0.07130658,
        0.15      ],
       [0.05882353, 0.52903226, 0.36734694, ..., 0.24335378, 0.11571307,
        0.43333333],
       [0.05882353, 0.31612903, 0.46938776, ..., 0.24948875, 0.10119556,
        0.03333333]])

In [8]:
X_scaled_df = pd.DataFrame(X_scaled_df, columns=x.columns)
X_scaled_df

     Pregnancies   Glucose  ...  DiabetesPedigreeFunction       Age
0       0.352941  0.670968  ...                  0.234415  0.483333
1       0.058824  0.264516  ...                  0.116567  0.166667
2       0.470588  0.896774  ...                  0.253629  0.183333
3       0.058824  0.290323  ...                  0.038002  0.000000
4       0.000000  0.600000  ...                  0.943638  0.200000
..           ...       ...  ...                       ...       ...
763     0.588235  0.367742  ...                  0.039710  0.700000
764     0.117647  0.503226  ...                  0.111870  0.100000
765     0.294118  0.496774  ...                  0.071307  0.150000
766     0.058824  0.529032  ...                  0.115713  0.433333
767     0.058824  0.316129  ...                  0.101196  0.033333

[768 rows x 8 columns]

In [10]:
# Return  the variance for X along the specified axis=0.
X_scaled_df.var(axis=0)

Pregnancies                 0.039287
Glucose                     0.038696
BloodPressure               0.015235
SkinThickness               0.009131
Insulin                     0.012712
BMI                         0.020414
DiabetesPedigreeFunction    0.020014
Age                         0.038418
dtype: float64

### **b) feature_range**

In [11]:
# feature_range : tuple (min, max), default=(0, 1)

scaler1 = MinMaxScaler(feature_range=(0, 10))                           
X_scaled_df1 = scaler1.fit_transform(x)
X_scaled_df1

array([[3.52941176, 6.70967742, 4.89795918, ..., 3.14928425, 2.3441503 ,
        4.83333333],
       [0.58823529, 2.64516129, 4.28571429, ..., 1.71779141, 1.16567037,
        1.66666667],
       [4.70588235, 8.96774194, 4.08163265, ..., 1.04294479, 2.53629377,
        1.83333333],
       ...,
       [2.94117647, 4.96774194, 4.89795918, ..., 1.63599182, 0.71306576,
        1.5       ],
       [0.58823529, 5.29032258, 3.67346939, ..., 2.43353783, 1.15713066,
        4.33333333],
       [0.58823529, 3.16129032, 4.69387755, ..., 2.49488753, 1.01195559,
        0.33333333]])

In [12]:
X_scaled_df1 = pd.DataFrame(X_scaled_df1, columns=x.columns)
X_scaled_df1

     Pregnancies   Glucose  ...  DiabetesPedigreeFunction       Age
0       3.529412  6.709677  ...                  2.344150  4.833333
1       0.588235  2.645161  ...                  1.165670  1.666667
2       4.705882  8.967742  ...                  2.536294  1.833333
3       0.588235  2.903226  ...                  0.380017  0.000000
4       0.000000  6.000000  ...                  9.436379  2.000000
..           ...       ...  ...                       ...       ...
763     5.882353  3.677419  ...                  0.397096  7.000000
764     1.176471  5.032258  ...                  1.118702  1.000000
765     2.941176  4.967742  ...                  0.713066  1.500000
766     0.588235  5.290323  ...                  1.157131  4.333333
767     0.588235  3.161290  ...                  1.011956  0.333333

[768 rows x 8 columns]

In [13]:
# Return  the variance for X along the specified axis=0.
X_scaled_df1.var(axis=0)

Pregnancies                 3.928739
Glucose                     3.869637
BloodPressure               1.523548
SkinThickness               0.913109
Insulin                     1.271218
BMI                         2.041377
DiabetesPedigreeFunction    2.001447
Age                         3.841751
dtype: float64