<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/1_pd_factorise().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("/content/drive/MyDrive/Datasets/No-show-Issue-300k.csv.zip", sep=";")
df.head()

   Age Gender AppointmentRegistration  ... Tuberculosis Sms_Reminder AwaitingTime
0   17      F    2014-03-26T14:11:55Z  ...            0            1          -14
1   21      F    2014-04-09T08:57:02Z  ...            0            0           -8
2   61      F    2015-10-07T07:26:45Z  ...            0            0           -1
3   55      F    2015-11-13T07:19:33Z  ...            0            1           -4
4    9      F    2014-05-06T09:06:16Z  ...            0            1          -37

[5 rows x 15 columns]

### **Encoding data**

- If you are working with Machine Learning models, such categorical (text) data will do you no good. This data will need to be converted into a computer-readable format i.e. numbers. In technical terms, this is called encoding.

- Pandas allows a very simple method for encoding such categorical variables.

In [6]:
# encoding categorical variables
df["No-show-labels"] = pd.factorize(df["Status"])[0]

df.head()

   Age Gender  ... AwaitingTime No-show-labels
0   17      F  ...          -14              0
1   21      F  ...           -8              1
2   61      F  ...           -1              0
3   55      F  ...           -4              0
4    9      F  ...          -37              1

[5 rows x 16 columns]

- The **pd.factorise()** function simply **maps** all the unique values from the **“Status”** column to **integer representation**. Now the computer understands that 0 means No and 1 means Yes.