<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/1_Recursive_Feature_Elemination.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wrapper Methods

<p style='text-align: right;'> 30 points</p>

Wrapper methods are used to select a set of features by preparing where different combinations of features, then each combination is evaluated and compared to other combinations.Next a predictive model is used to assign a score based on model accuracy and to evaluate the combinations of these features.

In [ ]:
# load and read the diabetes.csv using pandas and print the head values
diabetes = pd.read_csv("diabetes1.csv")
diabetes.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
# assign features to X and target 'outcome' to Y variable(Think why the 'outcome' column is taken as the target)
X = diabetes.drop('Outcome', axis = 1)

y = diabetes["Outcome"]

#return X,Y
print(X)
print(y)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6      148             72  ...  33.6                     0.627   50
1              1       85             66  ...  26.6                     0.351   31
2              8      183             64  ...  23.3                     0.672   32
3              1       89             66  ...  28.1                     0.167   21
4              0      137             40  ...  43.1                     2.288   33
..           ...      ...            ...  ...   ...                       ...  ...
763           10      101             76  ...  32.9                     0.171   63
764            2      122             70  ...  36.8                     0.340   27
765            5      121             72  ...  26.2                     0.245   30
766            1      126             60  ...  30.1                     0.349   47
767            1       93             70  ...  30.4                     0.315   23

[768 rows x 8 columns]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

## (a) Recursive Feature Elemination

<p style='text-align: right;'> 25 points</p>

Recursive Feature Elimination selects features by recursively considering smaller subsets of features by pruning the least important feature at each step. Here models are created iteartively and in each iteration it determines the best and worst performing features and this process continues until all the features are explored.Next ranking is given on eah feature based on their elimination orde. In the worst case, if a dataset contains N number of features RFE will do a greedy search for $N^2$ combinations of features.


reference video: https://www.youtube.com/watch?v=MYnxxRoPiwI

Note: the video is using random forest classifier, but we are going to use logistic regression as our model.

In [ ]:
# import RFE and LogisticRegression
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

In [ ]:
# Initialise model variable with LogisticRegression function with solver = 'liblinear'
model= LogisticRegression(solver='liblinear')

# rfe variable has RFE instance with should have model and n_features_to_select=4 as parameters

rfe= RFE(model, n_features_to_select=4)

In [ ]:
# fit rfe with X and Y

fit= rfe.fit(X, y)

In [ ]:
print('Number of selected features', fit.n_features_)
print('Selected Features', fit.support_)
print('Feature rankings', fit.ranking_)

Number of selected features 4
Selected Features [ True  True False False False  True  True False]
Feature rankings [1 1 2 4 5 1 1 3]

In [ ]:
# use below function to get ranks of all the features
def feature_ranks(X,Rank,Support):
    feature_rank=pd.DataFrame()
    for i in range(X.shape[1]):
        new =pd.DataFrame({"Features":X.columns[i],"Rank":Rank[i],'Selected':Support[i]},index=[i])
        feature_rank=pd.concat([feature_rank,new])
    return feature_rank

In [ ]:
#Get all feature's ranks using feature_ranks function with suitable parameters. Sotre it in variable called feature_rank_df
feature_rank_df= feature_ranks(X, fit.ranking_, fit.support_)

# print feature_rank_df
feature_rank_df

                   Features  Rank  Selected
0               Pregnancies     1      True
1                   Glucose     1      True
2             BloodPressure     2     False
3             SkinThickness     4     False
4                   Insulin     5     False
5                       BMI     1      True
6  DiabetesPedigreeFunction     1      True
7                       Age     3     False

We can see there are four features with rank 1 ,RFE states that these are the most significant features.

In [ ]:
# filter feature_rank_df  with selected column values as True and save result in variable called recursive_feature_names 
recursive_feature_names= feature_rank_df[feature_rank_df['Rank'] == 1]

# print recursive_feature_names
recursive_feature_names

                   Features  Rank  Selected
0               Pregnancies     1      True
1                   Glucose     1      True
5                       BMI     1      True
6  DiabetesPedigreeFunction     1      True

In [ ]:
# finally get dataframe X with all the features selected by RFE and store this result in variable called RFE_selected_features
col = X.columns[rfe.support_]
RFE_selected_features= X[col]

# print RFE head()
RFE_selected_features.head()

   Pregnancies  Glucose   BMI  DiabetesPedigreeFunction
0            6      148  33.6                     0.627
1            1       85  26.6                     0.351
2            8      183  23.3                     0.672
3            1       89  28.1                     0.167
4            0      137  43.1                     2.288

We recommend you to watch this video to know about working of RFE:  https://www.youtube.com/watch?v=Yo1vYRdJ95k