<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/1_str_contains.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- https://towardsdatascience.com/check-for-a-substring-in-a-pandas-dataframe-column-4b949f64852

---------------

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Datasets/vgsales.zip')
df.head()

   Rank                      Name Platform  ...  JP_Sales Other_Sales Global_Sales
0     1                Wii Sports      Wii  ...      3.77        8.46        82.74
1     2         Super Mario Bros.      NES  ...      6.81        0.77        40.24
2     3            Mario Kart Wii      Wii  ...      3.79        3.31        35.82
3     4         Wii Sports Resort      Wii  ...      3.28        2.96        33.00
4     5  Pokemon Red/Pokemon Blue       GB  ...     10.22        1.00        31.37

[5 rows x 11 columns]

In [12]:
df.shape

(16598, 11)

### **1) Using “contains” to Find a Substring in a Pandas DataFrame**

- The **contains** method in Pandas allows you to search a **column** for a **specific substring.**

- The contains method returns **boolean** values for the Series with **True** for if the original Series value **contains the substring** and **False if not**.

- A basic application of contains should look like **Series.str.contains("substring").**

In [16]:
pokemon_games = df.loc[df['Name'].str.contains("pokemon", case=False)]
pokemon_games.head(10)

    Rank                                       Name  ... Other_Sales  Global_Sales
4      5                   Pokemon Red/Pokemon Blue  ...        1.00         31.37
12    13                Pokemon Gold/Pokemon Silver  ...        0.71         23.10
20    21              Pokemon Diamond/Pokemon Pearl  ...        1.37         18.36
25    26              Pokemon Ruby/Pokemon Sapphire  ...        0.50         15.85
26    27                Pokemon Black/Pokemon White  ...        0.82         15.32
32    33                        Pokemon X/Pokemon Y  ...        0.79         14.35
45    46       Pokemon HeartGold/Pokemon SoulSilver  ...        0.77         11.90
49    50  Pokemon Omega Ruby/Pokemon Alpha Sapphire  ...        0.65         11.33
58    59          Pokemon FireRed/Pokemon LeafGreen  ...        0.35         10.49
81    82            Pokemon Black 2/Pokemon White 2  ...        0.43          8.33

[10 rows x 11 columns]

- Using the **loc** method allows us to **get only** the values in the DataFrame that contain the string **“pokemon”.**

- We’ve simply used the contains method to acquire **True and False** values based on **whether the “Name” column includes our substring and then returned only the True values.**

### **2) Using regex with the “contains” method in Pandas**

- In addition to just matching on a regular substring, we can also use contains to match on regular expressions. We’ll use the exact same format as before, except this time let’s use a bit of **regex** to only find the story-based Pokemon games (i.e. excluding Pokemon Pinball and the like).

In [17]:
pokemon_og_games = df.loc[df['Name'].str.contains("pokemon \w{1,}/", case=False)]
pokemon_og_games

    Rank                                  Name  ... Other_Sales  Global_Sales
4      5              Pokemon Red/Pokemon Blue  ...        1.00         31.37
12    13           Pokemon Gold/Pokemon Silver  ...        0.71         23.10
20    21         Pokemon Diamond/Pokemon Pearl  ...        1.37         18.36
25    26         Pokemon Ruby/Pokemon Sapphire  ...        0.50         15.85
26    27           Pokemon Black/Pokemon White  ...        0.82         15.32
32    33                   Pokemon X/Pokemon Y  ...        0.79         14.35
45    46  Pokemon HeartGold/Pokemon SoulSilver  ...        0.77         11.90
58    59     Pokemon FireRed/Pokemon LeafGreen  ...        0.35         10.49

[8 rows x 11 columns]

- Above, I just used some simple regex to find strings that matched the pattern of **“pokemon” + “one character or more” + “/”.** The result of the new mask returned rows including **“Pokemon Red/Pokemon Blue”, “Pokemon Gold/Pokemon Silver”**, and more.

In [19]:
sports_games = df.loc[df['Genre'] == 'Sports']
sports_games.head()

    Rank               Name Platform  ...  JP_Sales Other_Sales Global_Sales
0      1         Wii Sports      Wii  ...      3.77        8.46        82.74
3      4  Wii Sports Resort      Wii  ...      3.28        2.96        33.00
13    14            Wii Fit      Wii  ...      3.60        2.15        22.72
14    15       Wii Fit Plus      Wii  ...      2.53        1.79        22.00
77    78            FIFA 16      PS4  ...      0.06        1.26         8.49

[5 rows x 11 columns]

In [20]:
football_soccer_games = sports_games.loc[df['Name'].str.contains("soccer|football", case=False)]
football_soccer_games.head()

     Rank                                       Name  ... Other_Sales  Global_Sales
199   200                             FIFA Soccer 11  ...        1.13          5.08
249   250  Winning Eleven: Pro Evolution Soccer 2007  ...        0.86          4.39
269   270                             FIFA Soccer 06  ...        0.84          4.21
283   284                             FIFA Soccer 07  ...        0.89          4.11
292   293              World Soccer Winning Eleven 9  ...        0.77          4.06

[5 rows x 11 columns]

- Now we’ve gotten a DataFrame with just the games that have a name including **“soccer” or “football”.** We simply made use of the **“|” regex “or”** operator that allows you to match on a string that contains one or another substring.

In [22]:
import re
football_soccer_games['Football/Soccer'] = football_soccer_games['Name'].str.findall('football|soccer', flags=re.IGNORECASE)
football_soccer_games['Football/Soccer']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

199        [Soccer]
249        [Soccer]
269        [Soccer]
283        [Soccer]
292        [Soccer]
            ...
16076      [Soccer]
16118    [Football]
16400      [Soccer]
16420      [Soccer]
16558      [Soccer]
Name: Football/Soccer, Length: 299, dtype: object

- You’ll see at the end of the returned DataFrame a new column that contains **either “Soccer” or “Football”**, depending on which of the two the videogame name contains. This can be helpful if you need to create new columns based on the existing columns and using values from those columns.

- **3)** Finally, for a quick trick to **exclude strings** with just one additional operator on top of the basic contains method, let’s try to get all the football and soccer games that **don’t include “FIFA”** in the name.

In [24]:
not_fifa = football_soccer_games.loc[~football_soccer_games['Name'].str.contains('FIFA')]
not_fifa.head()

     Rank  ... Football/Soccer
249   250  ...        [Soccer]
292   293  ...        [Soccer]
315   316  ...        [Soccer]
348   349  ...        [Soccer]
474   475  ...        [Soccer]

[5 rows x 12 columns]