<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/1_train_test_split_stratify.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- https://www.youtube.com/watch?v=1ZG18PztLmU ---> Sklearn Train Test Split STRATIFY Example

----------------

In [1]:
url = "https://raw.githubusercontent.com/EvidenceN/DataSets/master/winequality-white.csv"

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(url, sep=';')
df.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.0              0.27         0.36  ...       0.45      8.8        6
1            6.3              0.30         0.34  ...       0.49      9.5        6
2            8.1              0.28         0.40  ...       0.44     10.1        6
3            7.2              0.23         0.32  ...       0.40      9.9        6
4            7.2              0.23         0.32  ...       0.40      9.9        6

[5 rows x 12 columns]

In [4]:
df.shape

(4898, 12)

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X = df.drop('quality', axis=1)
y = df['quality']

### **train_test_split**

#### **iteration 1**

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [9]:
df['quality'].unique()

array([6, 5, 7, 8, 4, 3, 9])

In [10]:
y_train.unique()

array([5, 6, 7, 4, 8, 9, 3])

In [11]:
y_test.unique()

array([6, 5, 7, 8, 4, 3, 9])

#### **iteration 2**

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15)

In [20]:
y_train.unique()

array([5, 7, 6, 4, 8, 3, 9])

In [21]:
y_test.unique()

array([6, 5, 7, 8, 4, 3])

In [22]:
df['quality'].value_counts()

6    2198
5    1457
7     880
8     175
4     163
3      20
9       5
Name: quality, dtype: int64

In [23]:
y_train.value_counts()

6    1878
5    1231
7     756
8     138
4     138
3      17
9       5
Name: quality, dtype: int64

In [24]:
y_test.value_counts()

6    320
5    226
7    124
8     37
4     25
3      3
Name: quality, dtype: int64

- original dataset 9 have 5 counts
- train 9 have 5 counts
- test there is no 9

### **stratify**

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, stratify=df['quality'])

In [26]:
y_train.unique()

array([6, 5, 7, 3, 4, 8, 9])

In [27]:
y_test.unique()

array([5, 6, 7, 8, 4, 9, 3])

In [28]:
y_train.value_counts()

6    1868
5    1238
7     748
8     149
4     139
3      17
9       4
Name: quality, dtype: int64

In [29]:
y_test.value_counts()

6    330
5    219
7    132
8     26
4     24
3      3
9      1
Name: quality, dtype: int64