<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/1_Tuple_All_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Tupple**

- **tuples** are **immutable** i.e. tuples **cannot be modified** after it is created.

- **Tuples** can contain any number of elements and of any datatype (like **strings, integers, list, etc.**)

- We generally use **tuples** for **heterogeneous (different) data types** and **lists** for **homogeneous (similar) data types**.

- Since tuples are immutable, **iterating** through a **tuple is faster than with list**. So there is a slight performance boost.

- **Tuples** are used to store **multiple items** in a single variable

- **Tuple** is one of 4 built-in **data types** in Python

- **Tuple** items are **ordered, unchangeable, and allow duplicate values**.

 - **ordered:** it means that the items have a defined order, and that order will not change

 - **unchangeable:** we cannot **change, add or remove** items after the tuple has been created

 - **duplicate values:** Since tuples are indexed, they can have items with the same value

- **Tuples** are written with **round brackets**

In [ ]:
# Python program to demonstrate creation of Set
   
# Creating an empty tuple
Tuple1 = ()
print("Initial empty Tuple: ")
print (Tuple1)
   
# Creating a Tuple with the use of Strings
Tuple1 = ('Geeks', 'For')
print("\nTuple with the use of String: ")
print(Tuple1)
   
# Creating a Tuple with the use of list
list1 = [1, 2, 4, 5, 6]
print("\nTuple using List: ")
print(tuple(list1))
 
# Creating a Tuple with the use of built-in function
Tuple1 = tuple('Geeks')
print("\nTuple with the use of function: ")
print(Tuple1)
 
# Creating a Tuple with nested tuples
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'geek')
Tuple3 = (Tuple1, Tuple2)
print("\nTuple with nested tuples: ")
print(Tuple3)

Initial empty Tuple:
()

Tuple with the use of String:
('Geeks', 'For')

Tuple using List:
(1, 2, 4, 5, 6)

Tuple with the use of function:
('G', 'e', 'e', 'k', 's')

Tuple with nested tuples:
((0, 1, 2, 3), ('python', 'geek'))

In [ ]:
# Accessing tuple elements using indexing
my_tuple = ('p','e','r','m','i','t')

print(my_tuple[0])   # 'p' 
print(my_tuple[5])   # 't'

# IndexError: list index out of range print(my_tuple[6])

# Index must be an integer
# TypeError: list indices must be integers, not float
# my_tuple[2.0]

# nested tuple
n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

# nested index
print(n_tuple[0][3])       # 's'
print(n_tuple[1][1])       # 4

p
t
s
4

In [ ]:
# Changing tuple values
my_tuple = (4, 2, 3, [6, 5])

# TypeError: 'tuple' object does not support item assignment
# my_tuple[1] = 9

# However, item of mutable element can be changed
my_tuple[3][0] = 9    # Output: (4, 2, 3, [9, 5])
print(my_tuple)

(4, 2, 3, [9, 5])

##### **5.1) Indexing (Accessing elements of Tuple)**

In [ ]:
my_tuple = ('a', 'b', 'c', 'd')
print(my_tuple[1])
print(my_tuple[-1])

b
d

In [ ]:
# Python program to demonstrate accessing tuple
 
tuple1 = tuple([1, 2, 3, 4, 5])
 
# Accessing element using indexing
print("First element of tuple")
print(tuple1[0])
 
# Accessing element from last negative indexing
print("\nLast element of tuple")
print(tuple1[-1])
 
print("\nThird last element of tuple")
print(tuple1[-3])

First element of tuple
1

Last element of tuple
5

Third last element of tuple
3

##### **5.2) Slicing**

- If you want to get a part of the tuple, use the slicing operator. **[start:stop:step]**

In [ ]:
my_tuple = ('a', 'b', 'c', 'd')

print(my_tuple[1:])   # Print elements from index 1 to end

print(my_tuple[:2])   # Print elements from start to index 2

print(my_tuple[1:3])  # Print elements from index 1 to index 3

print(my_tuple[::2])  # Print elements from start to end using step sizes of 2

('b', 'c', 'd')
('a', 'b')
('b', 'c')
('a', 'c')

##### **5.3) Concatenation**

In [ ]:
# Concatenation
print((1, 2, 3) + (4, 5, 6))

(1, 2, 3, 4, 5, 6)

##### **5.4) Delete**

- we cannot change the elements in a tuple. It means that we **cannot delete or remove** items from a tuple.

- Deleting a **tuple entirely**, however, is possible using the keyword **del**

In [ ]:
# Deleting tuples
my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [ ]:
# can't delete items
# TypeError: 'tuple' object doesn't support item deletion
del my_tuple[3]

TypeError: ignored

In [ ]:
# Can delete an entire tuple
del my_tuple

# NameError: name 'my_tuple' is not defined
print(my_tuple)

NameError: ignored

##### **5.5) Tuple Methods**

- **count**
- **index**

In [ ]:
my_tuple = ('a', 'p', 'p', 'l', 'e',)

print(my_tuple.count('p'))
print(my_tuple.index('l'))

2
3

##### **5.6) Create Tuple With One Item**

- To create a **tuple** with only **one item**, you have to add a **comma** after the item, otherwise Python will **not recognize** it as a tuple

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
a =(2,)
print(type(a))

a =(2)
print(type(a))

<class 'tuple'>
<class 'int'>

##### **5.7) Tuple Items - Data Types**

- **Tuple** items can be of any data type: **String, int and boolean data types**

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

- A **tuple** with **strings, integers and boolean values**

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")

##### **5.8) Tuple to Set Conversion**

- **set()** method is used to convert any of the **iterable** to sequence of iterable elements with distinct elements, commonly called Set. 

 - **Syntax** : set(iterable)

 - **Parameters** : Any **iterable** sequence like **list, tuple or dictionary**.

 - **Returns** : An **empty set** if **no element** is passed. **Non-repeating element** iterable modified as passed as argument.

In [ ]:
# initializing tuple
tup1 = (3, 4, 1, 4, 5)

set(tup1)

{1, 3, 4, 5}

#### **Question 1**

In [ ]:
tuple = (100, 200, 300, 400, 500)
tuple.pop(2)
print(tuple)

AttributeError: ignored

#### **Question 2**

In [ ]:
x = (1, 2, 3, 4, 5)
x[3] = 9
print(x)

TypeError: ignored

#### **Question 2**

In [ ]:
a = "(hello, python, learning)"
b = tuple(a)
print(b)
len(b)

TypeError: ignored

#### **Question 3**

In [ ]:
tuple = (1, 'python', 1+3j)
print(tuple([1:2]))

SyntaxError: ignored

#### **Question 4**

In [ ]:
a = (1, 2, 3, 4)
print(a[1:-1])

(2, 3)

#### **Question 5**

In [ ]:
# What is the data type of (2021)?
print(type(2021))

<class 'int'>

#### **Question 6**

In [ ]:
t = (1, 2)
print(2 * t)

(1, 2, 1, 2)

In [ ]:
# Repeat

print(("Repeat",) * 3)

('Repeat', 'Repeat', 'Repeat')

#### **Question 7**

- To create a **tuple** with only **one item**, you have to add a **comma** after the item, otherwise Python will **not recognize** it as a tuple

In [ ]:
a =(2,)
print(type(a))

<class 'tuple'>

#### **Question 8**

In [ ]:
print (list((1, 4, 5, 7)))

[1, 4, 5, 7]

#### **Question 9**

In [ ]:
my_tuple = ('p','y','t','h','o','n')
print(my_tuple[1:4])

('y', 't', 'h')

--------------------------------------------------------------------------------