<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/1_Variance_Threshold.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Variance Threshold

<p style='text-align: right;'> 20 points</p>

If the variance is low or close to zero, then a feature is approximately constant and will not improve the performance of the model. In that case, it should be removed.

Variance will also be very low for a feature if only a handful of observations of that feature differ from a constant value.

Reference-
https://www.youtube.com/watch?v=uMlU2JaiOd8

Are you ready to implement feature selection using variance threshold? Smile and download the dataset diabetes_cleaned.csv from https://github.com/arupbhunia/Data-Pre-processing/blob/master/datasets/diabetes_cleaned.csv

Dataset used - diabetes_cleaned.csv

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving diabetes_cleaned.csv to diabetes_cleaned (1).csv

In [ ]:
# load the csv to dataframe name "diabetes" and print the head values
diabetes = pd.read_csv("diabetes_cleaned.csv")

# display diabetes.head()
diabetes.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction   Age  Outcome
0          6.0    148.0           72.0  ...                     0.627  50.0        1
1          1.0     85.0           66.0  ...                     0.351  31.0        0
2          8.0    183.0           64.0  ...                     0.672  32.0        1
3          1.0     89.0           66.0  ...                     0.167  21.0        0
4          0.0    137.0           40.0  ...                     2.288  33.0        1

[5 rows x 9 columns]

In [ ]:
# seperate the features and the target as x and y 
x = diabetes.drop('Outcome', axis = 1)

y = diabetes["Outcome"]

If you have seen the video then Krish must have told you to use sklearn library to calculate variance threshold. But we will use var function to calculate our variance so that you understand the concept from base.

In [ ]:
# Return  the variance for X along the specified axis=0.
x.var(axis=0)

Pregnancies                   11.354056
Glucose                      929.680350
BloodPressure                146.321591
SkinThickness                 77.285567
Insulin                     9484.259268
BMI                           48.813618
DiabetesPedigreeFunction       0.109779
Age                          138.303046
dtype: float64

    Hey smarty! did you see that DiabetesPedigreeFunction variance is less so it brings almost no information because it is (almost) constant , this can be a justification to remove DiabetesPedigreeFunction column but before considering this we should scale these features because they are of different scales.
    
Reference for minmax scaling: https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html

Lets use sklearn minmax scaler here.

In [ ]:
# import minmax_scale
from sklearn.preprocessing import MinMaxScaler
# use minmax scale with feature_range=(0,10) and columns=X.columns,to scale the features of dataframe and store them into X_scaled_df 
scaler = MinMaxScaler(feature_range=(0, 10))                           
X_scaled_df = scaler.fit_transform(x)


Wait a minute! whats minmax scaling?

It is the simplest method and consists in rescaling the range of features to scale the range in [0, 1] or [−1, 1]

hey hey heyieeee! Fun fact time:

There is another scaling method called StandardScaler which follows Standard Normal Distribution (SND). Therefore, it makes mean = 0 and scales the data to unit variance. 

Cool right? :)

In [ ]:
# return X_scaled_df
X_scaled_df = pd.DataFrame(X_scaled_df, columns=x.columns)
X_scaled_df

     Pregnancies   Glucose  ...  DiabetesPedigreeFunction       Age
0       3.529412  6.709677  ...                  2.344150  4.833333
1       0.588235  2.645161  ...                  1.165670  1.666667
2       4.705882  8.967742  ...                  2.536294  1.833333
3       0.588235  2.903226  ...                  0.380017  0.000000
4       0.000000  6.000000  ...                  9.436379  2.000000
..           ...       ...  ...                       ...       ...
763     5.882353  3.677419  ...                  0.397096  7.000000
764     1.176471  5.032258  ...                  1.118702  1.000000
765     2.941176  4.967742  ...                  0.713066  1.500000
766     0.588235  5.290323  ...                  1.157131  4.333333
767     0.588235  3.161290  ...                  1.011956  0.333333

[768 rows x 8 columns]

In [ ]:
# Again return  the variance for X along the specified axis=0 to check the scales after using minmax scaler.
X_scaled_df.var(axis=0)

Pregnancies                 3.928739
Glucose                     3.869637
BloodPressure               1.523548
SkinThickness               0.913109
Insulin                     1.271218
BMI                         2.041377
DiabetesPedigreeFunction    2.001447
Age                         3.841751
dtype: float64

Now again you can check the previous video:https://www.youtube.com/watch?v=uMlU2JaiOd8

In [ ]:
# import variancethreshold
from sklearn.feature_selection import VarianceThreshold
# set threshold=1 and define it to variable select_features
select_features = VarianceThreshold(threshold=1)

   Impliment fit_transform on select_features passing X_scaled_df into it and save this result in variable X_variance_threshold_df

In [ ]:
X_variance_threshold_df= select_features.fit_transform(X_scaled_df)

Were you thinking of fit_transform? We are here to help you understand

fit_transform() is used on the training data so that we can scale the training data and also learn the scaling parameters of that data. Here, the model built by us will learn the mean and variance of the features of the training set. These learned parameters are then used to scale our test data

Don't worry you will get lot of challenges to use these things in our other assignments

In [ ]:
#print X_variance_threshold_df
X_variance_threshold_df

array([[3.52941176, 6.70967742, 4.89795918, ..., 3.14928425, 2.3441503 ,
        4.83333333],
       [0.58823529, 2.64516129, 4.28571429, ..., 1.71779141, 1.16567037,
        1.66666667],
       [4.70588235, 8.96774194, 4.08163265, ..., 1.04294479, 2.53629377,
        1.83333333],
       ...,
       [2.94117647, 4.96774194, 4.89795918, ..., 1.63599182, 0.71306576,
        1.5       ],
       [0.58823529, 5.29032258, 3.67346939, ..., 2.43353783, 1.15713066,
        4.33333333],
       [0.58823529, 3.16129032, 4.69387755, ..., 2.49488753, 1.01195559,
        0.33333333]])

In [ ]:
#Convert X_variance_threshold_df into dataframe
X_variance_threshold_df = pd.DataFrame(X_variance_threshold_df)

In [ ]:
# print of head values of X_variance_threshold_df 
X_variance_threshold_df.head()

          0         1         2         3         4         5         6
0  3.529412  6.709677  4.897959  2.740295  3.149284  2.344150  4.833333
1  0.588235  2.645161  4.285714  1.018185  1.717791  1.165670  1.666667
2  4.705882  8.967742  4.081633  3.331099  1.042945  2.536294  1.833333
3  0.588235  2.903226  4.285714  1.293850  2.024540  0.380017  0.000000
4  0.000000  6.000000  1.632653  2.150572  5.092025  9.436379  2.000000

Below mentioned is the function get_selected_features for returning selected_features to be used further.

Warning ;)
If we have provided you a readymade function, don't just use it but understand it too.

In [ ]:
def get_selected_features(raw_df,processed_df):
    selected_features=[]
    for i in range(len(processed_df.columns)):
        for j in range(len(raw_df.columns)):
            if (processed_df.iloc[:,i].equals(raw_df.iloc[:,j])):
                selected_features.append(raw_df.columns[j])
    return selected_features

In [ ]:
# pass the X_scaled_df as raw_df and X_variance_threshold_df as processed_df inside get_selected_features function
selected_features = get_selected_features(X_scaled_df, X_variance_threshold_df)

# print selected_features
selected_features

['Pregnancies',
 'Glucose',
 'BloodPressure',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age']

Super! you can see SkinThickness feature is not selected as its variance is less.

Lets give column names to our X_variance_threshold_df

In [ ]:
# define selected_features as columns and save it in variabe named X_variance_threshold_df
X_variance_threshold_df.columns= selected_features
#print X_variance_threshold_df
X_variance_threshold_df

     Pregnancies   Glucose  ...  DiabetesPedigreeFunction       Age
0       3.529412  6.709677  ...                  2.344150  4.833333
1       0.588235  2.645161  ...                  1.165670  1.666667
2       4.705882  8.967742  ...                  2.536294  1.833333
3       0.588235  2.903226  ...                  0.380017  0.000000
4       0.000000  6.000000  ...                  9.436379  2.000000
..           ...       ...  ...                       ...       ...
763     5.882353  3.677419  ...                  0.397096  7.000000
764     1.176471  5.032258  ...                  1.118702  1.000000
765     2.941176  4.967742  ...                  0.713066  1.500000
766     0.588235  5.290323  ...                  1.157131  4.333333
767     0.588235  3.161290  ...                  1.011956  0.333333

[768 rows x 7 columns]