<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/20_XGBoost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### When to Use XGBoost?

- we have large number of observations in training data.
- number features are smaller than number of observations in training data.
- data has mixture numerical and categorical features or just numeric features.
- model performance metrics are to be considered.

### When to NOT use XGBoost?

- number of observations in training data is significantly smaller than the number of features
- image recognition
- computer vision
- natural language processing

In [ ]:
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier

import xgboost
from xgboost import XGBClassifier

In [ ]:
# Import scikit-learn dataset library
from sklearn import datasets

# Load dataset
iris = datasets.load_iris()

In [ ]:
# Creating a DataFrame of given iris dataset.

data = pd.DataFrame({
    'sepal length':iris.data[:,0],
    'sepal width':iris.data[:,1],
    'petal length':iris.data[:,2],
    'petal width':iris.data[:,3],
    'species':iris.target
})

data.head()

   sepal length  sepal width  petal length  petal width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [ ]:
X = data[['sepal length', 'sepal width', 'petal length', 'petal width']]  # Features
y = data['species']

In [ ]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)    # 70% training and 30% test