<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/2_apply_datetime_abs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv("/content/drive/MyDrive/Datasets/No-show-Issue-300k.csv.zip", sep=";")
df.head()

   Age Gender AppointmentRegistration  ... Tuberculosis Sms_Reminder AwaitingTime
0   17      F    2014-03-26T14:11:55Z  ...            0            1          -14
1   21      F    2014-04-09T08:57:02Z  ...            0            0           -8
2   61      F    2015-10-07T07:26:45Z  ...            0            0           -1
3   55      F    2015-11-13T07:19:33Z  ...            0            1           -4
4    9      F    2014-05-06T09:06:16Z  ...            0            1          -37

[5 rows x 15 columns]

In [12]:
df["AppointmentRegistration"] = df["AppointmentRegistration"].apply(np.datetime64)
df["ApointmentData"] = df["ApointmentData"].apply(np.datetime64)
df["AwaitingTime"] = df["AwaitingTime"].apply(abs)

In [13]:
df.head()

   Age Gender AppointmentRegistration  ... Tuberculosis Sms_Reminder AwaitingTime
0   17      F     2014-03-26 14:11:55  ...            0            1           14
1   21      F     2014-04-09 08:57:02  ...            0            0            8
2   61      F     2015-10-07 07:26:45  ...            0            0            1
3   55      F     2015-11-13 07:19:33  ...            0            1            4
4    9      F     2014-05-06 09:06:16  ...            0            1           37

[5 rows x 15 columns]

In [16]:
# checking for infinity
ds = df.isin([np.inf, -np.inf])
print(ds)

          Age  Gender  ...  Sms_Reminder  AwaitingTime
0       False   False  ...         False         False
1       False   False  ...         False         False
2       False   False  ...         False         False
3       False   False  ...         False         False
4       False   False  ...         False         False
...       ...     ...  ...           ...           ...
299995  False   False  ...         False         False
299996  False   False  ...         False         False
299997  False   False  ...         False         False
299998  False   False  ...         False         False
299999  False   False  ...         False         False

[300000 rows x 15 columns]

In [18]:
# printing the count of infinity values
count = np.isinf(ds).values.sum()
print("It contains " + str(count) + " infinite values")

It contains 0 infinite values