<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/2_Def_Function_Charts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

# Visualization

# Matplotlib and Seaborn
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
from google.colab import files
uploaded = files.upload()

Saving stocks_data_2020_till_2020_09_03.csv to stocks_data_2020_till_2020_09_03.csv

In [3]:
# Loading Stocks data
stocks = pd.read_csv("stocks_data_2020_till_2020_09_03.csv")
stocks.head()

      id                  timestamp  open_price  ...  close_price  volume  scrip_id
0      1  2020-02-24 09:15:00+05:30     1170.00  ...      1164.60  104528         2
1  13008  2020-02-24 09:15:00+05:30      318.00  ...       312.30   22036         1
2  26015  2020-02-24 09:15:00+05:30      828.95  ...       825.85   22222         3
3  39022  2020-02-24 09:15:00+05:30     1672.00  ...      1667.10   15844         4
4  52029  2020-02-24 09:15:00+05:30     1469.75  ...      1465.05  150673         5

[5 rows x 8 columns]

In [4]:
stocks['month'] = pd.DatetimeIndex(stocks.timestamp).month
stocks.head()

      id                  timestamp  open_price  ...  volume  scrip_id  month
0      1  2020-02-24 09:15:00+05:30     1170.00  ...  104528         2      2
1  13008  2020-02-24 09:15:00+05:30      318.00  ...   22036         1      2
2  26015  2020-02-24 09:15:00+05:30      828.95  ...   22222         3      2
3  39022  2020-02-24 09:15:00+05:30     1672.00  ...   15844         4      2
4  52029  2020-02-24 09:15:00+05:30     1469.75  ...  150673         5      2

[5 rows x 9 columns]

In [6]:
def sma():
  sma_10 = stocks['close_price'].rolling(window=10).mean()
  return sma_10

print(sma().head(20))

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9     1087.060
10    1086.905
11    1087.095
12    1087.740
13    1087.510
14    1087.425
15    1088.235
16    1088.355
17    1088.685
18    1088.390
19    1088.260
Name: close_price, dtype: float64