<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/2_for_enumerate_All.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **1) Enumerate as a List**

In [1]:
A = ['Apple', 'Mango', 'Banana', 'Orange']

In [2]:
type(A)

list

In [3]:
list(enumerate(A))

[(0, 'Apple'), (1, 'Mango'), (2, 'Banana'), (3, 'Orange')]

In [4]:
list(enumerate(('India', 'US', 'Japan', 'Russia')))

[(0, 'India'), (1, 'US'), (2, 'Japan'), (3, 'Russia')]

### **2) Enumerate as a Tuple**

In [5]:
tuple(enumerate(A))

((0, 'Apple'), (1, 'Mango'), (2, 'Banana'), (3, 'Orange'))

### **3) Enumerate as a Set**

In [6]:
set(enumerate(A))

{(0, 'Apple'), (1, 'Mango'), (2, 'Banana'), (3, 'Orange')}

### **4) Enumerate as a Dictionary**

In [7]:
dict(enumerate(A))

{0: 'Apple', 1: 'Mango', 2: 'Banana', 3: 'Orange'}

In [8]:
dict(enumerate({'India', 'US', 'Japan', 'Russia'}))

{0: 'Russia', 1: 'Japan', 2: 'US', 3: 'India'}

### **5) Enumerate as a String**

In [9]:
x = 'Python'

list(enumerate(x))

[(0, 'P'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [10]:
y = 'Python is fun'

list(enumerate(y))

[(0, 'P'),
 (1, 'y'),
 (2, 't'),
 (3, 'h'),
 (4, 'o'),
 (5, 'n'),
 (6, ' '),
 (7, 'i'),
 (8, 's'),
 (9, ' '),
 (10, 'f'),
 (11, 'u'),
 (12, 'n')]

----------------------

- To **iterate over the indices** in a sequence, we use the **enumerate()** function

In [11]:
colors = ["yellow", "black", "green", "purple"]

for index,value in enumerate(colors):
  print(index,value)

0 yellow
1 black
2 green
3 purple

-------------

### **How to use enumerate() in Python?**

In [12]:
characters = ["Krillian", "Goku", "Vegeta", "Gohan", "Piccolo"]

# enumerate() returns a sequence of (index, item) tuples

list(enumerate(characters))

[(0, 'Krillian'), (1, 'Goku'), (2, 'Vegeta'), (3, 'Gohan'), (4, 'Piccolo')]

In [13]:
# Use enumerate() in a for loop to get an item and its index

for index, character in enumerate(characters):
    print(index, character)

0 Krillian
1 Goku
2 Vegeta
3 Gohan
4 Piccolo

##### **Why might you want to use enumerate?**

##### **Example: store index positions of duplicate items**

In [14]:
characters = ["Krillin", "Goku", "Goku", "Gohan", "Piccolo",
              "Krillin", "Goku", "Vegeta", "Gohan", "Piccolo",
              "Piccolo", "Goku", "Vegeta", "Goku", "Piccolo"]
        
character_map = {character:[] for character in set(characters)}

print(character_map)

{'Piccolo': [], 'Gohan': [], 'Krillin': [], 'Goku': [], 'Vegeta': []}

In [15]:
# Use enumerate to store the index for each occurence
for index, character in enumerate(characters):
    character_map[character].append(index)
    
character_map

{'Gohan': [3, 8],
 'Goku': [1, 2, 6, 11, 13],
 'Krillin': [0, 5],
 'Piccolo': [4, 9, 10, 14],
 'Vegeta': [7, 12]}

-------------------

#### The standard for loop works great if inside the loop you **only need the item and not its index.**

In [16]:
color = ["red", "blue", "yellow"]

for i in color:
  print(i)

red
blue
yellow

#### If you need the **index** inside the loop you can use **range(len(list))**.Then you can always get the list item if needed by using the index.

In [17]:
for i in range(len(color)):
  print(i, color[i])

0 red
1 blue
2 yellow

In [18]:
for i in range(len(color)):
  print("color", i, '=', color[i])

color 0 = red
color 1 = blue
color 2 = yellow

#### Best option if you need **both index and item** inside the loop is to use Python's **enumerate** function. Enumerate works in both Python 2.x and 3.x

In [19]:
color = ["red", "blue", "yellow"]

for i,j in enumerate(color):
  print(i,j)

0 red
1 blue
2 yellow

In [20]:
color = ["red", "blue", "yellow"]

for i,j in enumerate(color):
  print("color", i, '=', j)

color 0 = red
color 1 = blue
color 2 = yellow

In [21]:
color = ["red", "blue", "yellow"]

for i,j in enumerate(color,1):        # starts index from one
  print(i,j)

1 red
2 blue
3 yellow