<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/2_Handling_Multicollinearity_with_VIF_diabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 # Handling Multicollinearity with VIF
 
 <p style='text-align: right;'> 15 points</p>

Multicollinearity refers to a situation in which more than two explanatory variables in a multiple regression model are highly linearly related. We have perfect multicollinearity if, for example as in the equation above, the correlation between two independent variables is equal to 1 or âˆ’1.

Variance inflation factor measures how much the behavior (variance) of an independent variable is influenced, or inflated, by its interaction/correlation with the other independent variables.

VIF has big defination but for now understand that:-
Variance inflation factor (VIF) is a measure of the amount of multicollinearity in a set of multiple regression variables

Reference: https://www.youtube.com/watch?v=6JpmgzCAusI

In [ ]:
#load and read the diabetes_cleaned.csv file using pandas and print the head values
# load the csv to dataframe name "diabetes" and print the head values

dia_df = pd.read_csv("diabetes_cleaned.csv")

# display diabetes.head()
dia_df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction   Age  Outcome
0          6.0    148.0           72.0  ...                     0.627  50.0        1
1          1.0     85.0           66.0  ...                     0.351  31.0        0
2          8.0    183.0           64.0  ...                     0.672  32.0        1
3          1.0     89.0           66.0  ...                     0.167  21.0        0
4          0.0    137.0           40.0  ...                     2.288  33.0        1

[5 rows x 9 columns]

In [ ]:
# describe the dataframe using .describe()
dia_df.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  121.539062  ...   33.240885    0.348958
std       3.369578   30.490660  ...   11.760232    0.476951
min       0.000000   44.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

As we can see range of these features are very different that means they all are in different scales so lets standardize the features using sklearn's preprocessing scale function.

Reference doc: https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.scale.html

In [ ]:
dia_df

     Pregnancies  Glucose  ...   Age  Outcome
0            6.0    148.0  ...  50.0        1
1            1.0     85.0  ...  31.0        0
2            8.0    183.0  ...  32.0        1
3            1.0     89.0  ...  21.0        0
4            0.0    137.0  ...  33.0        1
..           ...      ...  ...   ...      ...
763         10.0    101.0  ...  63.0        0
764          2.0    122.0  ...  27.0        0
765          5.0    121.0  ...  30.0        0
766          1.0    126.0  ...  47.0        1
767          1.0     93.0  ...  23.0        0

[768 rows x 9 columns]

In [ ]:
from sklearn import preprocessing

#iterate over all features in dia_df and scale
for i in dia_df:
    dia_df[[i]]=preprocessing.scale(dia_df[i].astype('float64'))

In [ ]:
# describe dataframe using .describe()
dia_df.describe()

        Pregnancies       Glucose  ...           Age       Outcome
count  7.680000e+02  7.680000e+02  ...  7.680000e+02  7.680000e+02
mean   2.544261e-17 -7.661695e-18  ...  1.857600e-16  2.408374e-16
std    1.000652e+00  1.000652e+00  ...  1.000652e+00  1.000652e+00
min   -1.141852e+00 -2.544700e+00  ... -1.041549e+00 -7.321202e-01
25%   -8.448851e-01 -7.396938e-01  ... -7.862862e-01 -7.321202e-01
50%   -2.509521e-01 -1.489643e-01  ... -3.608474e-01 -7.321202e-01
75%    6.399473e-01  6.140612e-01  ...  6.602056e-01  1.365896e+00
max    3.906578e+00  2.542136e+00  ...  4.063716e+00  1.365896e+00

[8 rows x 9 columns]

In [ ]:
#import variance inflation factor
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [ ]:
# assign features to X and target to Y 
X = dia_df.drop('Outcome', axis = 1)

y = dia_df["Outcome"]

# split the data to test and train with test_size=0.2
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [ ]:
#assign an empty dataframe to variable vif
vif= pd.DataFrame()

# make a new column 'VIF Factor' in vif dataframe and calculate the variance_inflation_factor for each X 
vif['VIF Factor']= [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]

In [ ]:
# define vif['Features'] with columns names in X

vif['Features']= X.columns

In [ ]:
#  round off all the decimal values in the dataframe to 2 decimal places for VIF dataframe and print it.
round(vif, 2)

   VIF Factor                  Features
0        1.43               Pregnancies
1        2.07                   Glucose
2        1.24             BloodPressure
3        1.43             SkinThickness
4        2.04                   Insulin
5        1.58                       BMI
6        1.05  DiabetesPedigreeFunction
7        1.62                       Age

* VIF = 1: Not correlated
* VIF =1-5: Moderately correlated
* VIF >5: Highly correlated

Glucose, Insulin, and Age are having large VIF scores, so lets drop it.

In [ ]:
# according to above observation , drop  'Glucose', 'Insulin' and 'Age' from X

X= X.drop(["Glucose", "Insulin", "Age"], axis=1)

Now again we calculate the VIF for the rest of the features

Again repeat the previous steps to assign an empty dataframe() to vif and make a new column 'VIF Factor' and calculate the variance_inflation_factorfor each X

In [ ]:
#assign an empty dataframe to variable vif
vif= pd.DataFrame()

# make a new column 'VIF Factor' in vif dataframe and calculate the variance_inflation_factor for each X 
vif['VIF Factor']= [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]

In [ ]:
#define vif['Features'] as columns of X and return vif with round off to 2 decimal places
vif['Features']= X.columns
round(vif, 2)

   VIF Factor                  Features
0        1.05               Pregnancies
1        1.13             BloodPressure
2        1.42             SkinThickness
3        1.50                       BMI
4        1.03  DiabetesPedigreeFunction

So now colinearity of features has been reduced using VIF.

The need to fix multicollinearity depends primarily on the below reasons:

1. When you care more about how much each individual feature rather than a group of features affects the target variable, then removing multicollinearity may be a good option
2. If multicollinearity is not present in the features you are interested in, then multicollinearity may not be a problem.