<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/2_iterate_over_rows.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- https://www.youtube.com/watch?v=LHE0g1ghfV4

- https://www.youtube.com/watch?v=1C0tjKf1D34 ---> How to process specific df column & its value in for loop

-----------------

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
boston = pd.read_csv("/content/drive/MyDrive/Datasets/boston.zip")
boston.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31   0.0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222     18.7  396.90    NaN  36.2

[5 rows x 14 columns]

In [ ]:
for ind,row in boston.iterrows():
  boston.loc[ind, "Avg price per room"] = row['MEDV'] / row['RM']

In [ ]:
boston.head()

      CRIM    ZN  INDUS  CHAS  ...       B  LSTAT  MEDV  Avg price per room
0  0.00632  18.0   2.31   0.0  ...  396.90   4.98  24.0            3.650190
1  0.02731   0.0   7.07   0.0  ...  396.90   9.14  21.6            3.363962
2  0.02729   0.0   7.07   0.0  ...  392.83   4.03  34.7            4.829506
3  0.03237   0.0   2.18   0.0  ...  394.63   2.94  33.4            4.772792
4  0.06905   0.0   2.18   0.0  ...  396.90    NaN  36.2            5.065062

[5 rows x 15 columns]

---------------------

In [6]:
for i in boston:
  print(i)

CRIM
ZN
INDUS
CHAS
NOX
RM
AGE
DIS
RAD
TAX
PTRATIO
B
LSTAT
MEDV
Avg price per room

In [7]:
for ind,row in boston.iterrows():
  print(ind,row)

0 CRIM                    0.00632
ZN                     18.00000
INDUS                   2.31000
CHAS                    0.00000
NOX                     0.53800
RM                      6.57500
AGE                    65.20000
DIS                     4.09000
RAD                     1.00000
TAX                   296.00000
PTRATIO                15.30000
B                     396.90000
LSTAT                   4.98000
MEDV                   24.00000
Avg price per room      3.65019
Name: 0, dtype: float64
1 CRIM                    0.027310
ZN                      0.000000
INDUS                   7.070000
CHAS                    0.000000
NOX                     0.469000
RM                      6.421000
AGE                    78.900000
DIS                     4.967100
RAD                     2.000000
TAX                   242.000000
PTRATIO                17.800000
B                     396.900000
LSTAT                   9.140000
MEDV                   21.600000
Avg price per room      3.363962
Name: 1, dtype: float64
2 CRIM                    0.027290
ZN                      0.000000
INDUS                   7.070000
CHAS                    0.000000
NOX                     0.469000
RM                      7.185000
AGE                    61.100000
DIS                     4.967100
RAD                     2.000000
TAX                   242.000000
PTRATIO                17.800000
B                     392.830000
LSTAT                   4.030000
MEDV                   34.700000
Avg price per room      4.829506
Name: 2, dtype: float64
3 CRIM                    0.032370
ZN                      0.000000
INDUS                   2.180000
CHAS                    0.000000
NOX                     0.458000
RM                      6.998000
AGE                    45.800000
DIS                     6.062200
RAD                     3.000000
TAX                   222.000000
PTRATIO                18.700000
B                     394.630000
LSTAT                   2.940000
MEDV                   33.400000
Avg price per room      4.772792
Name: 3, dtype: float64
4 CRIM                    0.069050
ZN                      0.000000
INDUS                   2.180000
CHAS                    0.000000
NOX                     0.458000
RM                      7.147000
AGE                    54.200000
DIS                     6.062200
RAD                     3.000000
TAX                   222.000000
PTRATIO                18.700000
B                     396.900000
LSTAT                        NaN
MEDV                   36.200000
Avg price per room      5.065062
Name: 4, dtype: float64
5 CRIM                    0.029850
ZN                      0.000000
INDUS                   2.180000
CHAS                    0.000000
NOX                     0.458000
RM                      6.430000
AGE                    58.700000
DIS                     6.062200
RAD                     3.000000
TAX                   222.000000
PTRATIO                18.700000
B                     394.120000
LSTAT                   5.210000
MEDV                   28.700000
Avg price per room      4.463453
Name: 5, dtype: float64
6 CRIM                    0.088290
ZN                     12.500000
INDUS                   7.870000
CHAS                         NaN
NOX                     0.524000
RM                      6.012000
AGE                    66.600000
DIS                     5.560500
RAD                     5.000000
TAX                   311.000000
PTRATIO                15.200000
B                     395.600000
LSTAT                  12.430000
MEDV                   22.900000
Avg price per room      3.809049
Name: 6, dtype: float64
7 CRIM                    0.144550
ZN                     12.500000
INDUS                   7.870000
CHAS                    0.000000
NOX                     0.524000
RM                      6.172000
AGE                    96.100000
DIS                     5.950500
RAD                     5.000000
TAX                   311.000000
PTRATIO                15.200000
B                     396.900000
LSTAT                  19.150000
MEDV                   27.100000
Avg price per room      4.390797
Name: 7, dtype: float64
8 CRIM                    0.211240
ZN                     12.500000
INDUS                   7.870000
CHAS                    0.000000
NOX                     0.524000
RM                      5.631000
AGE                   100.000000
DIS                     6.082100
RAD                     5.000000
TAX                   311.000000
PTRATIO                15.200000
B                     386.630000
LSTAT                  29.930000
MEDV                   16.500000
Avg price per room      2.930208
Name: 8, dtype: float64
9 CRIM                    0.170040
ZN                     12.500000
INDUS                   7.870000
CHAS                         NaN
NOX                     0.524000
RM                      6.004000
AGE                    85.900000
DIS                     6.592100
RAD                     5.000000
TAX                   311.000000
PTRATIO                15.200000
B                     386.710000
LSTAT                  17.100000
MEDV                   18.900000
Avg price per room      3.147901
Name: 9, dtype: float64
10 CRIM                    0.224890
ZN                     12.500000
INDUS                   7.870000
CHAS                    0.000000
NOX                     0.524000
RM                      6.377000
AGE                    94.300000
DIS                     6.346700
RAD                     5.000000
TAX                   311.000000
PTRATIO                15.200000
B                     392.520000
LSTAT                  20.450000
MEDV                   15.000000
Avg price per room      2.352203
Name: 10, dtype: float64
11 CRIM                    0.117470
ZN                     12.500000
INDUS                   7.870000
CHAS                    0.000000
NOX                     0.524000
RM                      6.009000
AGE                    82.900000
DIS                     6.226700
RAD                     5.000000
TAX                   311.000000
PTRATIO                15.200000
B                     396.900000
LSTAT                  13.270000
MEDV                   18.900000
Avg price per room      3.145282
Name: 11, dtype: float64
12 CRIM                    0.093780
ZN                     12.500000
INDUS                   7.870000
CHAS                    0.000000
NOX                     0.524000
RM                      5.889000
AGE                    39.000000
DIS                     5.450900
RAD                     5.000000
TAX                   311.000000
PTRATIO                15.200000
B                     390.500000
LSTAT                  15.710000
MEDV                   21.700000
Avg price per room      3.684836
Name: 12, dtype: float64
13 CRIM                    0.629760
ZN                      0.000000
INDUS                   8.140000
CHAS                    0.000000
NOX                     0.538000
RM                      5.949000
AGE                    61.800000
DIS                     4.707500
RAD                     4.000000
TAX                   307.000000
PTRATIO                21.000000
B                     396.900000
LSTAT                   8.260000
MEDV                   20.400000
Avg price per room      3.429148
Name: 13, dtype: float64
14 CRIM                    0.637960
ZN                      0.000000
INDUS                   8.140000
CHAS                         NaN
NOX                     0.538000
RM                      6.096000
AGE                    84.500000
DIS                     4.461900
RAD                     4.000000
TAX                   307.000000
PTRATIO                21.000000
B                     380.020000
LSTAT                  10.260000
MEDV                   18.200000
Avg price per room      2.985564
Name: 14, dtype: float64
15 CRIM                    0.627390
ZN                      0.000000
INDUS                   8.140000
CHAS                    0.000000
NOX                     0.538000
RM                      5.834000
AGE                    56.500000
DIS                     4.498600
RAD                     4.000000
TAX                   307.000000
PTRATIO                21.000000
B                     395.620000
LSTAT                   8.470000
MEDV                   19.900000
Avg price per room      3.411039
Name: 15, dtype: float64
16 CRIM                    1.053930
ZN                      0.000000
INDUS                   8.140000
CHAS                    0.000000
NOX                     0.538000
RM                      5.935000
AGE                    29.300000
DIS                     4.498600
RAD                     4.000000
TAX                   307.000000
PTRATIO                21.000000
B                     386.850000
LSTAT                   6.580000
MEDV                   23.100000
Avg price per room      3.892165
Name: 16, dtype: float64
17 CRIM                    0.784200
ZN                      0.000000
INDUS                   8.140000
CHAS                    0.000000
NOX                     0.538000
RM                      5.990000
AGE                    81.700000
DIS                     4.257900
RAD                     4.000000
TAX                   307.000000
PTRATIO                21.000000
B                     386.750000
LSTAT                  14.670000
MEDV                   17.500000
Avg price per room      2.921536
Name: 17, dtype: float64
18 CRIM                    0.802710
ZN                      0.000000
INDUS                   8.140000
CHAS                    0.000000
NOX                     0.538000
RM                      5.456000
AGE                    36.600000
DIS                     3.796500
RAD                     4.000000
TAX                   307.000000
PTRATIO                21.000000
B                     288.990000
LSTAT                  11.690000
MEDV                   20.200000
Avg price per room      3.702346
Name: 18, dtype: float64
19 CRIM                    0.725800
ZN                      0.000000
INDUS                   8.140000
CHAS                    0.000000
NOX                     0.538000
RM                      5.727000
AGE                    69.500000
DIS                     3.796500
RAD                     4.000000
TAX                   307.000000
PTRATIO                21.000000
B                     390.950000
LSTAT                  11.280000
MEDV                   18.200000
Avg price per room      3.177929
Name: 19, dtype: float64
20 CRIM                    1.251790
ZN                      0.000000
INDUS                   8.140000
CHAS                    0.000000
NOX                     0.538000
RM                      5.570000
AGE                    98.100000
DIS                     3.797900
RAD                     4.000000
TAX                   307.000000
PTRATIO                21.000000
B                     376.570000
LSTAT                  21.020000
MEDV                   13.600000
Avg price per room      2.441652
Name: 20, dtype: float64
21 CRIM                    0.852040
ZN                      0.000000
INDUS                   8.140000
CHAS                    0.000000
NOX                     0.538000
RM                      5.965000
AGE                    89.200000
DIS                     4.012300
RAD                     4.000000
TAX                   307.000000
PTRATIO                21.000000
B                     392.530000
LSTAT                  13.830000
MEDV                   19.600000
Avg price per room      3.285834
Name: 21, dtype: float64
22 CRIM                    1.232470
ZN                      0.000000
INDUS                   8.140000
CHAS                    0.000000
NOX                     0.538000
RM                      6.142000
AGE                    91.700000
DIS                     3.976900
RAD                     4.000000
TAX                   307.000000
PTRATIO                21.000000
B                     396.900000
LSTAT                  18.720000
MEDV                   15.200000
Avg price per room      2.474764
Name: 22, dtype: float64
23 CRIM                    0.988430
ZN                      0.000000
INDUS                   8.140000
CHAS                    0.000000
NOX                     0.538000
RM                      5.813000
AGE                   100.000000
DIS                     4.095200
RAD                     4.000000
TAX                   307.000000
PTRATIO                21.000000
B                     394.540000
LSTAT                  19.880000
MEDV                   14.500000
Avg price per room      2.494409
Name: 23, dtype: float64
24 CRIM                    0.750260
ZN                      0.000000
INDUS                   8.140000
CHAS                    0.000000
NOX                     0.538000
RM                      5.924000
AGE                    94.100000
DIS                     4.399600
RAD                     4.000000
TAX                   307.000000
PTRATIO                21.000000
B                     394.330000
LSTAT                  16.300000
MEDV                   15.600000
Avg price per room      2.633356
Name: 24, dtype: float64
25 CRIM                    0.840540
ZN                      0.000000
INDUS                   8.140000
CHAS                    0.000000
NOX                     0.538000
RM                      5.599000
AGE                    85.700000
DIS                     4.454600
RAD                     4.000000
TAX                   307.000000
PTRATIO                21.000000
B                     303.420000
LSTAT                  16.510000
MEDV                   13.900000
Avg price per room      2.482586
Name: 25, dtype: float64
26 CRIM                    0.671910
ZN                      0.000000
INDUS                   8.140000
CHAS                    0.000000
NOX                     0.538000
RM                      5.813000
AGE                    90.300000
DIS                     4.682000
RAD                     4.000000
TAX                   307.000000
PTRATIO                21.000000
B                     376.880000
LSTAT                  14.810000
MEDV                   16.600000
Avg price per room      2.855668
Name: 26, dtype: float64
27 CRIM                    0.955770
ZN                      0.000000
INDUS                   8.140000
CHAS                    0.000000
NOX                     0.538000
RM                      6.047000
AGE                    88.800000
DIS                     4.453400
RAD                     4.000000
TAX                   307.000000
PTRATIO                21.000000
B                     306.380000
LSTAT                  17.280000
MEDV                   14.800000
Avg price per room      2.447495
Name: 27, dtype: float64
28 CRIM                    0.772990
ZN                      0.000000
INDUS                   8.140000
CHAS                    0.000000
NOX                     0.538000
RM                      6.495000
AGE                    94.400000
DIS                     4.454700
RAD                     4.000000
TAX                   307.000000
PTRATIO                21.000000
B                     387.940000
LSTAT                  12.800000
MEDV                   18.400000
Avg price per room      2.832948
Name: 28, dtype: float64
29 CRIM                    1.002450
ZN                      0.000000
INDUS                   8.140000
CHAS                    0.000000
NOX                     0.538000
RM                      6.674000
AGE                    87.300000
DIS                     4.239000
RAD                     4.000000
TAX                   307.000000
PTRATIO                21.000000
B                     380.230000
LSTAT                  11.980000
MEDV                   21.000000
Avg price per room      3.146539
Name: 29, dtype: float64
30 CRIM                    1.13081
ZN                      0.00000
INDUS                   8.14000
CHAS                    0.00000
NOX                     0.53800
RM                      5.71300
AGE                    94.10000
DIS                     4.23300
RAD                     4.00000
TAX                   307.00000
PTRATIO                21.00000
B                     360.17000
LSTAT                  22.60000
MEDV                   12.70000
Avg price per room      2.22300
Name: 30, dtype: float64
31 CRIM                    1.354720
ZN                      0.000000
INDUS                   8.140000
CHAS                    0.000000
NOX                     0.538000
RM                      6.072000
AGE                   100.000000
DIS                     4.175000
RAD                     4.000000
TAX                   307.000000
PTRATIO                21.000000
B                     376.730000
LSTAT                  13.040000
MEDV                   14.500000
Avg price per room      2.388011
Name: 31, dtype: float64
32 CRIM                    1.387990
ZN                      0.000000
INDUS                   8.140000
CHAS                    0.000000
NOX                     0.538000
RM                      5.950000
AGE                    82.000000
DIS                     3.990000
RAD                     4.000000
TAX                   307.000000
PTRATIO                21.000000
B                     232.600000
LSTAT                  27.710000
MEDV                   13.200000
Avg price per room      2.218487
Name: 32, dtype: float64
33 CRIM                    1.151720
ZN                      0.000000
INDUS                   8.140000
CHAS                    0.000000
NOX                     0.538000
RM                      5.701000
AGE                    95.000000
DIS                     3.787200
RAD                     4.000000
TAX                   307.000000
PTRATIO                21.000000
B                     358.770000
LSTAT                  18.350000
MEDV                   13.100000
Avg price per room      2.297842
Name: 33, dtype: float64
34 CRIM                    1.612820
ZN                      0.000000
INDUS                   8.140000
CHAS                    0.000000
NOX                     0.538000
RM                      6.096000
AGE                    96.900000
DIS                     3.759800
RAD                     4.000000
TAX                   307.000000
PTRATIO                21.000000
B                     248.310000
LSTAT                  20.340000
MEDV                   13.500000
Avg price per room      2.214567
Name: 34, dtype: float64
35 CRIM                    0.064170
ZN                      0.000000
INDUS                   5.960000
CHAS                    0.000000
NOX                     0.499000
RM                      5.933000
AGE                    68.200000
DIS                     3.360300
RAD                     5.000000
TAX                   279.000000
PTRATIO                19.200000
B                     396.900000
LSTAT                        NaN
MEDV                   18.900000
Avg price per room      3.185572
Name: 35, dtype: float64
36 CRIM                    0.097440
ZN                      0.000000
INDUS                        NaN
CHAS                    0.000000
NOX                     0.499000
RM                      5.841000
AGE                    61.400000
DIS                     3.377900
RAD                     5.000000
TAX                   279.000000
PTRATIO                19.200000
B                     377.560000
LSTAT                  11.410000
MEDV                   20.000000
Avg price per room      3.424071
Name: 36, dtype: float64
37 CRIM                    0.080140
ZN                      0.000000
INDUS                   5.960000
CHAS                    0.000000
NOX                     0.499000
RM                      5.850000
AGE                    41.500000
DIS                     3.934200
RAD                     5.000000
TAX                   279.000000
PTRATIO                19.200000
B                     396.900000
LSTAT                   8.770000
MEDV                   21.000000
Avg price per room      3.589744
Name: 37, dtype: float64
38 CRIM                    0.175050
ZN                      0.000000
INDUS                   5.960000
CHAS                    0.000000
NOX                     0.499000

### **Selecting Columns while looping over dataframe**

In [8]:
for ind,row in boston.iterrows():
  print(row['MEDV'])

24.0
21.6
34.7
33.4
36.2
28.7
22.9
27.1
16.5
18.9
15.0
18.9
21.7
20.4
18.2
19.9
23.1
17.5
20.2
18.2
13.6
19.6
15.2
14.5
15.6
13.9
16.6
14.8
18.4
21.0
12.7
14.5
13.2
13.1
13.5
18.9
20.0
21.0
24.7
30.8
34.9
26.6
25.3
24.7
21.2
19.3
20.0
16.6
14.4
19.4
19.7
20.5
25.0
23.4
18.9
35.4
24.7
31.6
23.3
19.6
18.7
16.0
22.2
25.0
33.0
23.5
19.4
22.0
17.4
20.9
24.2
21.7
22.8
23.4
24.1
21.4
20.0
20.8
21.2
20.3
28.0
23.9
24.8
22.9
23.9
26.6
22.5
22.2
23.6
28.7
22.6
22.0
22.9
25.0
20.6
28.4
21.4
38.7
43.8
33.2
27.5
26.5
18.6
19.3
20.1
19.5
19.5
20.4
19.8
19.4
21.7
22.8
18.8
18.7
18.5
18.3
21.2
19.2
20.4
19.3
22.0
20.3
20.5
17.3
18.8
21.4
15.7
16.2
18.0
14.3
19.2
19.6
23.0
18.4
15.6
18.1
17.4
17.1
13.3
17.8
14.0
14.4
13.4
15.6
11.8
13.8
15.6
14.6
17.8
15.4
21.5
19.6
15.3
19.4
17.0
15.6
13.1
41.3
24.3
23.3
27.0
50.0
50.0
50.0
22.7
25.0
50.0
23.8
23.8
22.3
17.4
19.1
23.1
23.6
22.6
29.4
23.2
24.6
29.9
37.2
39.8
36.2
37.9
32.5
26.4
29.6
50.0
32.0
29.8
34.9
37.0
30.5
36.4
31.1
29.1
50.0
33.3
30.3
34.6
34.9
32.9
24.1
42.3
48.5
50.0
22.6
24.4
22.5
24.4
20.0
21.7
19.3
22.4
28.1
23.7
25.0
23.3
28.7
21.5
23.0
26.7
21.7
27.5
30.1
44.8
50.0
37.6
31.6
46.7
31.5
24.3
31.7
41.7
48.3
29.0
24.0
25.1
31.5
23.7
23.3
22.0
20.1
22.2
23.7
17.6
18.5
24.3
20.5
24.5
26.2
24.4
24.8
29.6
42.8
21.9
20.9
44.0
50.0
36.0
30.1
33.8
43.1
48.8
31.0
36.5
22.8
30.7
50.0
43.5
20.7
21.1
25.2
24.4
35.2
32.4
32.0
33.2
33.1
29.1
35.1
45.4
35.4
46.0
50.0
32.2
22.0
20.1
23.2
22.3
24.8
28.5
37.3
27.9
23.9
21.7
28.6
27.1
20.3
22.5
29.0
24.8
22.0
26.4
33.1
36.1
28.4
33.4
28.2
22.8
20.3
16.1
22.1
19.4
21.6
23.8
16.2
17.8
19.8
23.1
21.0
23.8
23.1
20.4
18.5
25.0
24.6
23.0
22.2
19.3
22.6
19.8
17.1
19.4
22.2
20.7
21.1
19.5
18.5
20.6
19.0
18.7
32.7
16.5
23.9
31.2
17.5
17.2
23.1
24.5
26.6
22.9
24.1
18.6
30.1
18.2
20.6
17.8
21.7
22.7
22.6
25.0
19.9
20.8
16.8
21.9
27.5
21.9
23.1
50.0
50.0
50.0
50.0
50.0
13.8
13.8
15.0
13.9
13.3
13.1
10.2
10.4
10.9
11.3
12.3
8.8
7.2
10.5
7.4
10.2
11.5
15.1
23.2
9.7
13.8
12.7
13.1
12.5
8.5
5.0
6.3
5.6
7.2
12.1
8.3
8.5
5.0
11.9
27.9
17.2
27.5
15.0
17.2
17.9
16.3
7.0
7.2
7.5
10.4
8.8
8.4
16.7
14.2
20.8
13.4
11.7
8.3
10.2
10.9
11.0
9.5
14.5
14.1
16.1
14.3
11.7
13.4
9.6
8.7
8.4
12.8
10.5
17.1
18.4
15.4
10.8
11.8
14.9
12.6
14.1
13.0
13.4
15.2
16.1
17.8
14.9
14.1
12.7
13.5
14.9
20.0
16.4
17.7
19.5
20.2
21.4
19.9
19.0
19.1
19.1
20.1
19.9
19.6
23.2
29.8
13.8
13.3
16.7
12.0
14.6
21.4
23.0
23.7
25.0
21.8
20.6
21.2
19.1
20.6
15.2
7.0
8.1
13.6
20.1
21.8
24.5
23.1
19.7
18.3
21.2
17.5
16.8
22.4
20.6
23.9
22.0
11.9

In [9]:
for ind,row in boston.iterrows():
  print(row['RM'])

6.575
6.421
7.185
6.997999999999999
7.147
6.43
6.0120000000000005
6.172000000000001
5.631
6.004
6.377000000000001
6.0089999999999995
5.888999999999999
5.949
6.096
5.834
5.935
5.99
5.456
5.727
5.57
5.965
6.142
5.813
5.9239999999999995
5.599
5.813
6.047000000000001
6.495
6.6739999999999995
5.712999999999999
6.072
5.95
5.7010000000000005
6.096
5.933
5.841
5.85
5.966
6.595
7.024
6.77
6.169
6.211
6.069
5.682
5.7860000000000005
6.03
5.399
5.602
5.962999999999999
6.115
6.511
5.997999999999999
5.888
7.249
6.382999999999999
6.816
6.145
5.9270000000000005
5.7410000000000005
5.966
6.456
6.7620000000000005
7.104
6.29
5.787000000000001
5.877999999999999
5.593999999999999
5.885
6.417000000000001
5.961
6.065
6.245
6.273
6.2860000000000005
6.279
6.14
6.232
5.874
6.727
6.619
6.3020000000000005
6.167000000000001
6.388999999999999
6.63
6.015
6.121
7.007000000000001
7.079
6.417000000000001
6.405
6.442
6.211
6.249
6.625
6.162999999999999
8.068999999999999
7.82
7.416
6.727
6.781000000000001
6.405
6.1370000000000005
6.167000000000001
5.851
5.836
6.127000000000001
6.474
6.229
6.195
6.715
5.912999999999999
6.0920000000000005
6.254
5.928
6.176
6.021
5.872000000000001
5.731
5.87
6.004
5.961
5.856
5.879
5.986000000000001
5.6129999999999995
5.693
6.431
5.6370000000000005
6.457999999999999
6.3260000000000005
6.372000000000001
5.822
5.757000000000001
6.335
5.942
6.454
5.857
6.151
6.1739999999999995
5.019
5.403
5.468
4.9030000000000005
6.13
5.627999999999999
4.926
5.186
5.597
6.122000000000001
5.404
5.012
5.709
6.129
6.152
5.272
6.943
6.066
6.51
6.25
7.489
7.8020000000000005
8.375
5.854
6.101
7.928999999999999
5.877000000000001
6.319
6.402
5.875
5.88
5.572
6.416
5.859
6.546
6.02
6.315
6.86
6.98
7.765
6.144
7.155
6.563
5.604
6.153
7.831
6.782
6.556
7.185
6.9510000000000005
6.739
7.178
6.8
6.604
7.875
7.287000000000001
7.107
7.274
6.975
7.135
6.162000000000001
7.61
7.853
8.033999999999999
5.891
6.3260000000000005
5.7829999999999995
6.064
5.343999999999999
5.96
5.404
5.807
6.375
5.412000000000001
6.182
5.888
6.642
5.9510000000000005
6.372999999999999
6.9510000000000005
6.164
6.879
6.617999999999999
8.266
8.725
8.04
7.162999999999999
7.686
6.5520000000000005
5.981
7.412000000000001
8.337
8.247
6.726
6.086
6.631
7.358
6.481
6.606
6.897
6.095
6.358
6.393
5.593
5.605
6.108
6.226
6.433
6.718
6.487
6.438
6.957000000000001
8.259
6.108
5.876
7.454
8.704
7.332999999999999
6.8420000000000005
7.202999999999999
7.52
8.398
7.327000000000001
7.206
5.56
7.013999999999999
8.297
7.47
5.92
5.856
6.24
6.537999999999999
7.691
6.757999999999999
6.854
7.267
6.8260000000000005
6.482
6.812
7.82
6.968
7.645
7.922999999999999
7.087999999999999
6.452999999999999
6.23
6.209
6.315
6.565
6.861000000000001
7.148
6.63
6.127000000000001
6.0089999999999995
6.678
6.5489999999999995
5.79
6.345
7.041
6.871
6.59
6.495
6.982
7.236000000000001
6.6160000000000005
7.42
6.849
6.635
5.972
4.973
6.122000000000001
6.023
6.266
6.567
5.705
5.914
5.782
6.382000000000001
6.1129999999999995
6.426
6.376
6.041
5.707999999999999
6.415
6.431
6.312
6.082999999999999
5.867999999999999
6.332999999999999
6.144
5.706
6.031000000000001
6.316
6.31
6.037000000000001
5.869
5.895
6.059
5.985
5.968
7.2410000000000005
6.54
6.696000000000001
6.874
6.013999999999999
5.898
6.516
6.635
6.939
6.49
6.579
5.8839999999999995
6.728
5.662999999999999
5.936
6.212000000000001
6.395
6.127000000000001
6.112
6.398
6.251
5.362
5.803
8.78
3.5610000000000004
4.963
3.863
4.97
6.683
7.016
6.216
5.875
4.906000000000001
4.138
7.313
6.649
6.794
6.38
6.223
6.968
6.545
5.5360000000000005
5.52
4.368
5.277
4.652
5.0
4.88
5.39
5.712999999999999
6.051
5.0360000000000005
6.193
5.8870000000000005
6.471
6.405
5.747000000000001
5.452999999999999
5.852
5.987
6.343
6.404
5.349
5.531000000000001
5.683
4.138
5.608
5.617000000000001
6.852
5.757000000000001
6.657
4.628
5.155
4.519
6.434
6.782
5.303999999999999
5.957000000000001
6.824
6.4110000000000005
6.006
5.648
6.103
5.565
5.896
5.837000000000001
6.202000000000001
6.193
6.38
6.348
6.832999999999999
6.425
6.436
6.207999999999999
6.629
6.461
6.152
5.935
5.627000000000001
5.818
6.406000000000001
6.218999999999999
6.485
5.854
6.459
6.341
6.251
6.185
6.417000000000001
6.749
6.655
6.297000000000001
7.393
6.728
6.525
5.976
5.936
6.301
6.081
6.7010000000000005
6.376
6.317
6.513
6.209
5.7589999999999995
5.952000000000001
6.002999999999999
5.926
5.712999999999999
6.167000000000001
6.229
6.437
6.98
5.4270000000000005
6.162000000000001
6.484
5.303999999999999
6.185
6.229
6.242000000000001
6.75
7.061
5.7620000000000005
5.871
6.312
6.114
5.905
5.454
5.414
5.093
5.983
5.983
5.707000000000001
5.926
5.67
5.39
5.794
6.019
5.569
6.027
6.593
6.12
6.976
6.794
6.03

In [10]:
for ind,row in boston.iterrows():
  print(row['CRIM'])

0.00632
0.02731
0.02729
0.032369999999999996
0.06905
0.02985
0.08829
0.14455
0.21124
0.17004
0.22489
0.11747
0.09378
0.62976
0.6379600000000001
0.62739
1.05393
0.7842
0.80271
0.7258
1.25179
0.8520399999999999
1.2324700000000002
0.9884299999999999
0.75026
0.84054
0.67191
0.9557700000000001
0.77299
1.00245
1.13081
1.3547200000000001
1.38799
1.15172
1.6128200000000001
0.06417
0.09744
0.08014
0.17505
0.027630000000000002
0.033589999999999995
0.12744
0.1415
0.15936
0.12269000000000001
0.17142000000000002
0.18836
0.22926999999999997
0.25387
0.21977
0.08872999999999999
0.04337
0.0536
nan
0.0136
0.01311
0.02055
0.01432
0.15445
0.10328
0.14932
0.17171
0.11027
0.1265
0.01951
0.03584
0.043789999999999996
0.05789
0.13554000000000002
0.12816
0.08826
0.15875999999999998
0.09164
0.19539
0.07896
0.09512000000000001
0.10153
0.08707000000000001
0.05646
0.08387
0.04113
0.04462
0.03659
0.03551
0.050589999999999996
0.05735
0.051879999999999996
0.07151
0.0566
0.053020000000000005
0.04684
0.03932
0.04203
0.02875
0.04294
0.12204000000000001
0.11504
0.12082999999999999
0.08187
0.0686
0.14866
0.11432
0.22876
0.21161
0.1396
0.13262000000000002
0.1712
0.13117
0.12802
0.26363000000000003
0.10793
0.10084
0.12329000000000001
0.22211999999999998
0.14231
nan
0.13158
0.15098
0.13058
0.14476
0.06899
0.07165
0.09299
0.15037999999999999
0.09849
0.16902
0.38735
0.25915
0.32543
0.88125
0.34006
1.19294
0.59005
0.32982
0.9761700000000001
0.55778
0.32264
0.35233000000000003
0.2498
0.54452
0.2909
1.6286399999999999
3.32105
4.0974
2.7797400000000003
2.37934
2.15505
2.36862
2.3309900000000003
2.7339700000000002
1.6566
1.49632
1.12658
2.14918
1.41385
3.5350099999999998
2.4466799999999997
1.22358
1.34284
1.4250200000000002
1.27346
1.46336
1.8337700000000001
1.51902
2.2423599999999997
2.924
2.01019
1.8002799999999999
2.3004
2.4495299999999998
1.2074200000000002
2.3139
0.13914
0.09178
0.08447
0.06663999999999999
0.07022
0.05425
0.06642
0.0578
0.06588
0.06888
0.09103
nan
0.08308
0.06047
0.05602000000000001
0.07875
0.12579
0.0837
0.09068
nan
nan
0.02187
0.01439
0.01381
nan
0.04666
0.03768
0.0315
0.01778
0.03445
0.021769999999999998
0.0351
0.02009
0.13642
0.22969
0.25199
0.13587
0.43571000000000004
0.17446
0.37578
0.21719000000000002
0.14052
0.28955
0.19802
0.0456
0.07013
0.11069000000000001
0.11425
0.35809
0.40771
0.62356
0.6147
0.31533
0.52693
0.38214000000000004
0.41238
0.29819
nan
0.537
0.46296000000000004
0.57529
0.33147
0.44791000000000003
0.33045
nan
0.51183
0.08244
0.09252
0.11329000000000002
nan
0.1029
0.12757000000000002
0.20608
0.19133
0.33983
0.19657
0.16439
0.19072999999999998
0.1403
0.21409
0.08221
0.36894
0.04819
0.035480000000000005
0.015380000000000001
0.61154
0.66351
0.65665
0.5401100000000001
0.5341199999999999
nan
0.82526
0.55007
0.76162
0.7857
0.57834
0.5405
0.09065
0.29916
0.16211
0.1146
0.22188000000000002
0.05644
0.09604
0.10469
0.061270000000000005
0.07977999999999999
0.21038
0.03578
0.03705
0.06129
0.015009999999999999
0.009059999999999999
0.01096
0.01965
0.03871
nan
0.04297
0.035019999999999996
0.07886
0.03615
0.08265
0.08199
0.12932000000000002
0.053720000000000004
0.14103
0.06466000000000001
0.05561
0.04417
0.03537
nan
0.1
0.05515
0.05479
0.07503
0.049319999999999996
0.49298000000000003
0.3494
2.63548
0.7904100000000001
0.26169000000000003
0.26938
0.3692
0.25356
0.31827
0.24522
0.40202
0.47547
0.1676
0.18159
0.35114
0.28392
0.34109
0.19186
0.30346999999999996
0.24103000000000002
0.06617
0.06724
0.045439999999999994
0.050230000000000004
0.03466
0.05083
0.037380000000000004
0.03961
0.03427
0.030410000000000003
0.03306
0.054970000000000005
0.06151
0.013009999999999999
0.024980000000000002
0.02543
0.030489999999999996
0.03113
0.06162
0.0187
0.015009999999999999
0.02899
0.062110000000000005
0.0795
0.07244
0.01709
0.04301
0.10659
8.98296
3.8497
5.20177
4.26131
4.541919999999999
3.83684
3.6782199999999996
4.22239
3.4742800000000003
4.55587
3.69695
13.5222
4.898219999999999
nan
6.53876
9.2323
8.26725
11.1081
18.4982
19.6091
15.288
9.82349
23.6482
17.8667
88.9762
15.8744
9.18702
7.9924800000000005
20.0849
16.8118
24.3938
22.5971
14.3337
8.15174
6.96215
5.29305
11.5779
nan
nan
8.71675
5.87205
7.67202
38.3518
9.91655
25.0461
14.2362
9.59571
24.8017
41.5292
67.9208
20.7162
11.9511
7.40389
nan
51.1358
14.0507
18.811
28.6558
45.7461
18.0846
10.8342
25.9406
73.5341
11.8123
11.0874
7.022589999999999
12.0482
7.05042
8.792119999999999
15.8603
nan
37.6619
7.36711
9.33889
nan
10.0623
6.44405
5.5810699999999995
13.9134
11.1604
14.4208
15.1772
13.6781
9.39063
22.0511
9.72418
5.66637
9.96654
12.8023
10.6718
6.288069999999999
9.92485
9.329089999999999
7.52601
6.71772
5.44114
5.09017
8.24809
9.513630000000001
4.75237
4.668830000000001
8.20058
7.75223
6.80117
nan
3.69311
6.65492
5.82115
7.83932
nan
3.7749800000000002
4.422280000000001
15.5757
13.0751
4.34879
4.03841
3.56868
4.64689
8.05579
6.39312
4.87141
15.0234
10.232999999999999
14.3337
5.8240099999999995
5.7081800000000005
5.73116
2.81838
2.37857
3.6736699999999995
5.69175
4.8356699999999995
0.15086
0.18337
0.20745999999999998
0.10574000000000001
0.11132
0.17331
0.27957
0.17899
0.2896
0.26838
0.23911999999999997
0.17783
0.22438000000000002
0.06262999999999999
0.04527
0.06076
0.10959
0.04741

In [12]:
for ind,row in boston.iterrows():
  print(ind, row['MEDV'])

0 24.0
1 21.6
2 34.7
3 33.4
4 36.2
5 28.7
6 22.9
7 27.1
8 16.5
9 18.9
10 15.0
11 18.9
12 21.7
13 20.4
14 18.2
15 19.9
16 23.1
17 17.5
18 20.2
19 18.2
20 13.6
21 19.6
22 15.2
23 14.5
24 15.6
25 13.9
26 16.6
27 14.8
28 18.4
29 21.0
30 12.7
31 14.5
32 13.2
33 13.1
34 13.5
35 18.9
36 20.0
37 21.0
38 24.7
39 30.8
40 34.9
41 26.6
42 25.3
43 24.7
44 21.2
45 19.3
46 20.0
47 16.6
48 14.4
49 19.4
50 19.7
51 20.5
52 25.0
53 23.4
54 18.9
55 35.4
56 24.7
57 31.6
58 23.3
59 19.6
60 18.7
61 16.0
62 22.2
63 25.0
64 33.0
65 23.5
66 19.4
67 22.0
68 17.4
69 20.9
70 24.2
71 21.7
72 22.8
73 23.4
74 24.1
75 21.4
76 20.0
77 20.8
78 21.2
79 20.3
80 28.0
81 23.9
82 24.8
83 22.9
84 23.9
85 26.6
86 22.5
87 22.2
88 23.6
89 28.7
90 22.6
91 22.0
92 22.9
93 25.0
94 20.6
95 28.4
96 21.4
97 38.7
98 43.8
99 33.2
100 27.5
101 26.5
102 18.6
103 19.3
104 20.1
105 19.5
106 19.5
107 20.4
108 19.8
109 19.4
110 21.7
111 22.8
112 18.8
113 18.7
114 18.5
115 18.3
116 21.2
117 19.2
118 20.4
119 19.3
120 22.0
121 20.3
122 20.5
123 17.3
124 18.8
125 21.4
126 15.7
127 16.2
128 18.0
129 14.3
130 19.2
131 19.6
132 23.0
133 18.4
134 15.6
135 18.1
136 17.4
137 17.1
138 13.3
139 17.8
140 14.0
141 14.4
142 13.4
143 15.6
144 11.8
145 13.8
146 15.6
147 14.6
148 17.8
149 15.4
150 21.5
151 19.6
152 15.3
153 19.4
154 17.0
155 15.6
156 13.1
157 41.3
158 24.3
159 23.3
160 27.0
161 50.0
162 50.0
163 50.0
164 22.7
165 25.0
166 50.0
167 23.8
168 23.8
169 22.3
170 17.4
171 19.1
172 23.1
173 23.6
174 22.6
175 29.4
176 23.2
177 24.6
178 29.9
179 37.2
180 39.8
181 36.2
182 37.9
183 32.5
184 26.4
185 29.6
186 50.0
187 32.0
188 29.8
189 34.9
190 37.0
191 30.5
192 36.4
193 31.1
194 29.1
195 50.0
196 33.3
197 30.3
198 34.6
199 34.9
200 32.9
201 24.1
202 42.3
203 48.5
204 50.0
205 22.6
206 24.4
207 22.5
208 24.4
209 20.0
210 21.7
211 19.3
212 22.4
213 28.1
214 23.7
215 25.0
216 23.3
217 28.7
218 21.5
219 23.0
220 26.7
221 21.7
222 27.5
223 30.1
224 44.8
225 50.0
226 37.6
227 31.6
228 46.7
229 31.5
230 24.3
231 31.7
232 41.7
233 48.3
234 29.0
235 24.0
236 25.1
237 31.5
238 23.7
239 23.3
240 22.0
241 20.1
242 22.2
243 23.7
244 17.6
245 18.5
246 24.3
247 20.5
248 24.5
249 26.2
250 24.4
251 24.8
252 29.6
253 42.8
254 21.9
255 20.9
256 44.0
257 50.0
258 36.0
259 30.1
260 33.8
261 43.1
262 48.8
263 31.0
264 36.5
265 22.8
266 30.7
267 50.0
268 43.5
269 20.7
270 21.1
271 25.2
272 24.4
273 35.2
274 32.4
275 32.0
276 33.2
277 33.1
278 29.1
279 35.1
280 45.4
281 35.4
282 46.0
283 50.0
284 32.2
285 22.0
286 20.1
287 23.2
288 22.3
289 24.8
290 28.5
291 37.3
292 27.9
293 23.9
294 21.7
295 28.6
296 27.1
297 20.3
298 22.5
299 29.0
300 24.8
301 22.0
302 26.4
303 33.1
304 36.1
305 28.4
306 33.4
307 28.2
308 22.8
309 20.3
310 16.1
311 22.1
312 19.4
313 21.6
314 23.8
315 16.2
316 17.8
317 19.8
318 23.1
319 21.0
320 23.8
321 23.1
322 20.4
323 18.5
324 25.0
325 24.6
326 23.0
327 22.2
328 19.3
329 22.6
330 19.8
331 17.1
332 19.4
333 22.2
334 20.7
335 21.1
336 19.5
337 18.5
338 20.6
339 19.0
340 18.7
341 32.7
342 16.5
343 23.9
344 31.2
345 17.5
346 17.2
347 23.1
348 24.5
349 26.6
350 22.9
351 24.1
352 18.6
353 30.1
354 18.2
355 20.6
356 17.8
357 21.7
358 22.7
359 22.6
360 25.0
361 19.9
362 20.8
363 16.8
364 21.9
365 27.5
366 21.9
367 23.1
368 50.0
369 50.0
370 50.0
371 50.0
372 50.0
373 13.8
374 13.8
375 15.0
376 13.9
377 13.3
378 13.1
379 10.2
380 10.4
381 10.9
382 11.3
383 12.3
384 8.8
385 7.2
386 10.5
387 7.4
388 10.2
389 11.5
390 15.1
391 23.2
392 9.7
393 13.8
394 12.7
395 13.1
396 12.5
397 8.5
398 5.0
399 6.3
400 5.6
401 7.2
402 12.1
403 8.3
404 8.5
405 5.0
406 11.9
407 27.9
408 17.2
409 27.5
410 15.0
411 17.2
412 17.9
413 16.3
414 7.0
415 7.2
416 7.5
417 10.4
418 8.8
419 8.4
420 16.7
421 14.2
422 20.8
423 13.4
424 11.7
425 8.3
426 10.2
427 10.9
428 11.0
429 9.5
430 14.5
431 14.1
432 16.1
433 14.3
434 11.7
435 13.4
436 9.6
437 8.7
438 8.4
439 12.8
440 10.5
441 17.1
442 18.4
443 15.4
444 10.8
445 11.8
446 14.9
447 12.6
448 14.1
449 13.0
450 13.4
451 15.2
452 16.1
453 17.8
454 14.9
455 14.1
456 12.7
457 13.5
458 14.9
459 20.0
460 16.4
461 17.7
462 19.5
463 20.2
464 21.4
465 19.9
466 19.0
467 19.1
468 19.1
469 20.1
470 19.9
471 19.6
472 23.2
473 29.8
474 13.8
475 13.3
476 16.7
477 12.0
478 14.6
479 21.4
480 23.0
481 23.7
482 25.0
483 21.8
484 20.6
485 21.2
486 19.1
487 20.6
488 15.2
489 7.0
490 8.1
491 13.6
492 20.1
493 21.8
494 24.5
495 23.1
496 19.7
497 18.3
498 21.2
499 17.5
500 16.8
501 22.4
502 20.6
503 23.9
504 22.0
505 11.9