<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/2_iterate_over_rows.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
boston = pd.read_csv("/content/drive/MyDrive/Datasets/boston.zip")
boston.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31   0.0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222     18.7  396.90    NaN  36.2

[5 rows x 14 columns]

In [4]:
for ind,row in boston.iterrows():
  boston.loc[ind, "Avg price per room"] = row['MEDV'] / row['RM']

In [5]:
boston.head()

      CRIM    ZN  INDUS  CHAS  ...       B  LSTAT  MEDV  Avg price per room
0  0.00632  18.0   2.31   0.0  ...  396.90   4.98  24.0            3.650190
1  0.02731   0.0   7.07   0.0  ...  396.90   9.14  21.6            3.363962
2  0.02729   0.0   7.07   0.0  ...  392.83   4.03  34.7            4.829506
3  0.03237   0.0   2.18   0.0  ...  394.63   2.94  33.4            4.772792
4  0.06905   0.0   2.18   0.0  ...  396.90    NaN  36.2            5.065062

[5 rows x 15 columns]