<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/2_Missing_Value_Ratio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Percentage of NAs = (Number of cells with NA) * 100 /(Total number of cells)**

In [1]:
# percent_missing = df.isnull().sum() * 100 / len(df)

# df.isnull().sum() / df.shape[0] * 100

# round((df.isnull().sum()*100)/len(df),2)

# df.isnull().mean() * 100

# df.loc[:, df.isnull().mean() < .30]

# ((df.isnull() | df.isna()).sum() * 100 / df.index.size).round(2)

-----------

#### **Example 1:**

In [2]:
import pandas as pd
import numpy as np

data = {'Id':[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        'Name':['Mark', 'Juli', 'Alexa', 'Kevin', 'John', 'Devid', 'Mary', 'Michael', 'Johnson', 'Mick'],
        'Age':[27, 31, 45, np.nan, 34, 48, np.nan, 25, np.nan, 40],
        'Location':['USA', 'UK', np.nan, 'France', np.nan, 'USA', 'germany', np.nan, np.nan, 'Italy']}

df = pd.DataFrame(data)
df.head(10)

   Id     Name   Age Location
0   1     Mark  27.0      USA
1   2     Juli  31.0       UK
2   3    Alexa  45.0      NaN
3   4    Kevin   NaN   France
4   5     John  34.0      NaN
5   6    Devid  48.0      USA
6   7     Mary   NaN  germany
7   8  Michael  25.0      NaN
8   9  Johnson   NaN      NaN
9  10     Mick  40.0    Italy

In [3]:
# Function to count missing values for each columns in a DataFrame
def missing_data(data):
    # Count number of missing value in a column
    total = data.isnull().sum()           
    
    # Get Percentage of missing values
    percent = (data.isnull().sum()/data.isnull().count()*100)   
    temp = pd.concat([total, percent], axis=1, keys=['Total', 'Percent(%)'])

    # Create a Type column, that indicates the data-type of the column.
    types = []
    for col in data.columns:
        dtype = str(data[col].dtype)
        types.append(dtype)
    temp['Types'] = types

    return(np.transpose(temp))

missing_data(df)

               Id    Name      Age Location
Total           0       0        3        4
Percent(%)      0       0       30       40
Types       int64  object  float64   object

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Id        10 non-null     int64
 1   Name      10 non-null     object
 2   Age       7 non-null      float64
 3   Location  6 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 448.0+ bytes

In [5]:
df.count()

Id          10
Name        10
Age          7
Location     6
dtype: int64

----------------

#### **Example 2:**

In [6]:
from google.colab import files
uploaded = files.upload()

Saving diabetes.csv to diabetes.csv

In [7]:
# create a data frame named diabetes and load the csv file
diabetes = pd.read_csv("diabetes.csv")
#print the head 
diabetes.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [8]:
#Glucose BloodPressure, SkinThickness, Insulin, and BMI features cannot be zero ,we will impute zeros with nan value in these features.
cols = ["Glucose", "BloodPressure", "SkinThickness", "Insulin", "BMI"]
diabetes[cols] = diabetes[cols].replace(['0', 0], np.nan)

In [9]:
#display the no of null values in each feature
diabetes.isnull().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

#### **a) missing values percentage on dataframe**

In [10]:
# missing values percentage on dataframe
100 * diabetes.isnull().sum() / len(diabetes)

Pregnancies                  0.000000
Glucose                      0.651042
BloodPressure                4.557292
SkinThickness               29.557292
Insulin                     48.697917
BMI                          1.432292
DiabetesPedigreeFunction     0.000000
Age                          0.000000
Outcome                      0.000000
dtype: float64

#### **b) missing values percentage column wise**

In [11]:
# percentage of missing values for Glucose
diabetes['Glucose'].isnull().sum()/diabetes['Glucose'].isnull().count()*100

0.6510416666666667

In [12]:
# calculate the percentage for Bloodpressure
diabetes['BloodPressure'].isnull().sum()/diabetes['BloodPressure'].isnull().count()*100

4.557291666666666

In [13]:
# calculate the percentage for SkinThickness
diabetes['SkinThickness'].isnull().sum()/diabetes['SkinThickness'].isnull().count()*100

29.557291666666668

In [14]:
# calculate the percentage for Insulin
diabetes['Insulin'].isnull().sum()/diabetes['Insulin'].isnull().count()*100

48.69791666666667

In [15]:
# calculate the percentage for BMI
diabetes['BMI'].isnull().sum()/diabetes['BMI'].isnull().count()*100

1.4322916666666665

#### **c) missing values threshold**

In [25]:
# saving missing values in a variable
a = diabetes.isnull().sum()/len(diabetes)*100
a

Pregnancies                  0.000000
Glucose                      0.651042
BloodPressure                4.557292
SkinThickness               29.557292
Insulin                     48.697917
BMI                          1.432292
DiabetesPedigreeFunction     0.000000
Age                          0.000000
Outcome                      0.000000
dtype: float64

In [21]:
# saving column names in a variable
variables = diabetes.columns

In [22]:
diabetes.columns.shape[0]

9

In [24]:
# new variable to store variables having missing values less than a threshold
variable = [ ]
for i in range(diabetes.columns.shape[0]):
    if a[i]<=40:   # setting the threshold as 40%
        variable.append(variables[i])

variable

['Pregnancies',
 'Glucose',
 'BloodPressure',
 'SkinThickness',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age',
 'Outcome']

In [27]:
# creating a new dataframe using the above variables
new_data = diabetes[variable]

# first five rows of the new data
new_data.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6    148.0           72.0  ...                     0.627   50        1
1            1     85.0           66.0  ...                     0.351   31        0
2            8    183.0           64.0  ...                     0.672   32        1
3            1     89.0           66.0  ...                     0.167   21        0
4            0    137.0           40.0  ...                     2.288   33        1

[5 rows x 8 columns]

In [28]:
# percentage of missing values in each variable of new data
new_data.isnull().sum()/len(new_data)*100

Pregnancies                  0.000000
Glucose                      0.651042
BloodPressure                4.557292
SkinThickness               29.557292
BMI                          1.432292
DiabetesPedigreeFunction     0.000000
Age                          0.000000
Outcome                      0.000000
dtype: float64

In [29]:
# shape of new and original data
new_data.shape, diabetes.shape

((768, 8), (768, 9))

#### **d) missing values table**

In [16]:
# Listing Number of missing values by feature column wise
diabetes_missing = diabetes.isnull().sum().sort_values(ascending=False)
diabetes_missing = diabetes_missing[diabetes_missing > 0]
diabetes_missing

Insulin          374
SkinThickness    227
BloodPressure     35
BMI               11
Glucose            5
dtype: int64

In [17]:
# Percentage of Missing values in train dataset

total = diabetes.isnull().sum().sort_values(ascending=False)

percent = ((diabetes.isnull().sum()/diabetes.isnull().count())*100).sort_values(ascending=False)

missing_data = pd.concat([total, percent], axis=1, join='outer', keys=['Total Missing Count', '% of Total Observations'])
missing_data.index.name =' Numeric cols'

missing_data.head(20)

                          Total Missing Count  % of Total Observations
 Numeric cols
Insulin                                   374                48.697917
SkinThickness                             227                29.557292
BloodPressure                              35                 4.557292
BMI                                        11                 1.432292
Glucose                                     5                 0.651042
Outcome                                     0                 0.000000
Age                                         0                 0.000000
DiabetesPedigreeFunction                    0                 0.000000
Pregnancies                                 0                 0.000000

In [18]:
percentage = round(total/len(diabetes)*100, 2)[round(total/len(diabetes)*100, 2) != 0]
pd.concat([total, percentage], axis=1, keys=['Total','Percentage'])

                          Total  Percentage
Insulin                     374       48.70
SkinThickness               227       29.56
BloodPressure                35        4.56
BMI                          11        1.43
Glucose                       5        0.65
Outcome                       0         NaN
Age                           0         NaN
DiabetesPedigreeFunction      0         NaN
Pregnancies                   0         NaN

#### **e) def function**

In [19]:
def missing_percent(df):
        # Total zeros in dataframe
        zero_val = (diabetes == 0.00).astype(int).sum(axis=0)

        # Total missing values
        mis_val = diabetes.isnull().sum()
        
        # Percentage of missing values
        mis_percent = 100 * diabetes.isnull().sum() / len(diabetes)
        
        # Make a table with the results
        mis_table = pd.concat([zero_val, mis_val, mis_percent], axis=1)
        
        # Rename the columns
        mis_table = mis_table.rename(
        columns = {0 : 'Zero Values', 1 : 'Missing Values', 2 : 'Percent of Total Values'})

        mis_table['Total Zero Missing Values'] = mis_table['Zero Values'] + mis_table['Missing Values']
        mis_table['% Total Zero Missing Values'] = 100 * mis_table['Total Zero Missing Values'] / len(diabetes)
        mis_table['Data Type'] = diabetes.dtypes
        
        # Sort the table by percentage of missing descending
        mis_table = mis_table[
            mis_table.iloc[:,1] != 0].sort_values(
        'Percent of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(diabetes.shape[1]) + " columns.\n"      
            "There are " + str(mis_table.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_table

missing_percent(diabetes)

Your selected dataframe has 9 columns.
There are 5 columns that have missing values.

               Zero Values  ...  Data Type
Insulin                  0  ...    float64
SkinThickness            0  ...    float64
BloodPressure            0  ...    float64
BMI                      0  ...    float64
Glucose                  0  ...    float64

[5 rows x 6 columns]

--------------