<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/30_value_counts(normalize%3DTrue).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html#:~:text=With%20normalize%20set%20to%20True,by%20the%20sum%20of%20values.&text=Bins%20can%20be%20useful%20for,number%20of%20half%2Dopen%20bins.

### Usage of normalize=True : refer below file in colab

- 11_Learnings_Cheet_Sheet.ipynb

- Combine the small categories into a single category named "Other"

-------------

#### Series.value_counts(normalize=False, sort=True, ascending=False, bins=None, dropna=True)

In [4]:
import numpy as np
import pandas as pd

In [5]:
index = pd.Index([3, 1, 2, 3, 4, np.nan])
index

Float64Index([3.0, 1.0, 2.0, 3.0, 4.0, nan], dtype='float64')

In [6]:
index.value_counts()

3.0    2
4.0    1
2.0    1
1.0    1
dtype: int64

### 1. normalize=True
- With normalize set to True, returns the relative **frequency** by **dividing all values by the sum of values.**

In [7]:
s = pd.Series([3, 1, 2, 3, 4, np.nan])
s

0    3.0
1    1.0
2    2.0
3    3.0
4    4.0
5    NaN
dtype: float64

In [8]:
s.value_counts()

3.0    2
4.0    1
2.0    1
1.0    1
dtype: int64

In [9]:
s.value_counts(normalize=True)

3.0    0.4
4.0    0.2
2.0    0.2
1.0    0.2
dtype: float64

### 2. dropna
- With **dropna set to False** we can also see **NaN** index values

In [10]:
s.value_counts(dropna=False)

3.0    2
NaN    1
4.0    1
2.0    1
1.0    1
dtype: int64