<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/3_Def_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.learnbyexample.org/python-functions/

- Functions are the first step to code reuse. They allow you to define a reusable block of code that can be used repeatedly in a program.

- Python provides several built-in functions such as print(), len() or type(), but you can also define your own functions to use within your programs.

Syntax

### Create a Function
- To define a Python function, use **def** keyword. Here’s the simplest possible function that prints ‘Hello, World!’ on the screen.

In [1]:
def hello():
    print('Hello, World!')

### Call a Function
- The **def** statement only creates a function but does not call it. After the **def** has run, you can can call (run) the function by adding parentheses after the function’s name.

In [2]:
def hello():
    print('Hello, World!')
  
hello()

Hello, World!

### Pass Arguments
- You can send information to a function by passing values, known as **arguments.** Arguments are declared after the function name in parentheses.

- When you call a function with arguments, the values of those arguments are copied to their corresponding parameters inside the function.

In [3]:
# Pass single argument to a function

def hello(name):
    print('Hello,', name)

hello('Bob')
# Prints Hello, Bob
hello('Sam')
# Prints Hello, Sam

Hello, Bob
Hello, Sam

In [5]:
# You can send as many arguments as you like, separated by commas ,

# Pass two arguments
def func(name, job):
    print(name, 'is a', job)

func('Bob', 'developer')

Bob is a developer

-------------------------------


- **Types of Arguments**
Python handles function arguments in a very flexible manner, compared to other languages. It supports multiple types of arguments in the function definition. Here’s the list:

  1. Positional Arguments
  2. Keyword Arguments
  3. Default Arguments
  4. Variable Length Positional Arguments (*args)
  5. Variable Length Keyword Arguments (**kwargs)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
def greet():
  print("Hello")
  print("Good Morning")

greet()

Hello
Good Morning

---------------

In [ ]:
def add(x,y):
  c = x+y
  print(c)

add(5,4)

9

In [ ]:
add(15,5)

20

In [ ]:
def Add(num1, num2):
  print(num1 + num2)

Add(5, 5)

10

In [ ]:
def returnAdd(num1, num2):
  return(num1 + num2)

sum = returnAdd(15, 5)

print(sum)

20

---------------

In [ ]:
def add(x,y):
  c = x+y
  return c

result = add(5,4)
print(result)

9

In [ ]:
def add_sub(x,y):
  c = x+y
  d = x-y
  return c,d

result1, result2 = add_sub(5,4)
print(result1, result2)

9 1

In [ ]:
def example():
  print("basic function")
  z = 3+9
  print(z)

example()

basic function
12

---------------------------------------------

In [ ]:
def add(x, y=5):
  return x + y

In [ ]:
add(4)

9

In [ ]:
add(8,3)

11

------------

## Number of Arguments

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [ ]:
def my_function(fname):
  print(fname + " Anuganti")

my_function("Suresh")
my_function("Saanvi")
my_function("Tanvee")

Suresh Anuganti
Saanvi Anuganti
Tanvee Anuganti

In [ ]:
def my_function(Country = "Norway"):
  print("I am from " + Country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

- This function **expects 2 arguments**, and **gets 2 arguments**

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Suresh", "Anuganti")

Suresh Anuganti

- If you try to call the function with **1 or 3 arguments**, you will get an **error**:
- This function **expects 2 arguments**, but **gets only 1**:

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Suresh")

TypeError: ignored

--------------------------------------

## 1. Positional Arguments

- The most common are positional arguments, whose values are copied to their corresponding parameters in order.

In [ ]:
def func(name, job):
    print(name, 'is a', job)

func('Bob', 'developer')

Bob is a developer

- The only downside of positional arguments is that you need to **pass arguments in the order in which they are defined**.

In [ ]:
def func(name, job):
    print(name, 'is a', job)

func('developer', 'Bob')

developer is a Bob

---------------------------------------------------

## 2. Keyword Arguments

- To avoid positional argument confusion, you can pass arguments using the names of their corresponding parameters.

- In this case, the order of the arguments no longer matters because arguments are matched by name, not by position.

In [6]:
# Keyword arguments can be put in any order
def func(name, job):
    print(name, 'is a', job)

func(name='Bob', job='developer')
# Prints Bob is a developer

func(job='developer', name='Bob')
# Prints Bob is a developer

Bob is a developer
Bob is a developer

- It is possible to combine positional and keyword arguments in a single call. If you do so, specify the positional arguments before keyword arguments.

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

------------------------------------------------

## 3. Default Arguments

- You can specify default values for arguments when defining a function. The default value is used if the function is called without a corresponding argument.

- In short, defaults allow you to make selected arguments optional.

In [ ]:
# Set default value 'developer' to a 'job' parameter
def func(name, job='developer'):
    print(name, 'is a', job)

func('Bob', 'manager')
# Prints Bob is a manager

func('Bob')
# Prints Bob is a developer

Bob is a manager
Bob is a developer

--------------------------------------

## 4. Variable Length Positional Arguments (*args);  Arbitrary Arguments

- Variable length arguments are useful when you want to create functions that take unlimited number of arguments. Unlimited in the sense that you do not know beforehand how many arguments can be passed to your function by the user.

- This feature is often referred to as var-args.

- If you do not know **how many arguments** that will be passed into your function, add a *** before the parameter name** in the function definition.

- This way the function will receive a **tuple** of arguments, and can access the items accordingly:

### *args
- When you prefix a parameter with an asterisk * , it collects all the unmatched positional arguments into a tuple. Because it is a normal tuple object, you can perform any operation that a tuple supports, like indexing, iteration etc.

- Following function prints all the arguments passed to the function as a tuple.

In [8]:
# You don’t need to call this keyword parameter args, but it is standard practice.

def print_arguments(*args):
    print(args)

print_arguments(1, 54, 60, 8, 98, 12)

(1, 54, 60, 8, 98, 12)

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

------------------------------------------

## 5. Variable Length Keyword Arguments (**kwargs); Arbitrary Keyword Arguments

### **kwargs
- The ** syntax is similar, but it only works for keyword arguments. It collects them into a new dictionary, where the argument names are the keys, and their values are the corresponding dictionary values.

- If you do not know **how many keyword arguments** that will be passed into your function, add two asterisk: **** before the parameter** name in the function definition.

- This way the function will receive a **dictionary** of arguments, and can access the items accordingly:

In [9]:
def print_arguments(**kwargs):
    print(kwargs)

print_arguments(name='Bob', age=25, job='dev')

{'name': 'Bob', 'age': 25, 'job': 'dev'}

In [ ]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

----------------

## 6. Return
- To return a value from a function, simply use a return statement. Once a return statement is executed, nothing else in the function body is executed.

In [10]:
# Return sum of two values
def sum(a, b):
    return a + b

x = sum(3, 4)
print(x)
# Prints 7

7

- Remember! a python function always returns a value. So, if you do not include any return statement, it automatically returns None.

In [ ]:
b = 30
def fun(a, b=b):
  return a+b

print(fun(1))

31

In [ ]:
# Return values
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

### 7. Return Multiple Values
- Python has the ability to return multiple values, something missing from many other languages. You can do this by separating return values with a comma.

In [11]:
# Return addition and subtraction in a tuple
def func(a, b):
    return a+b, a-b

result = func(3, 2)

print(result)

(5, 1)

- When you return multiple values, Python actually packs them in a single tuple and returns it. You can then use multiple assignment to unpack the parts of the returned tuple.

In [12]:
# Unpack returned tuple
def func(a, b):
    return a+b, a-b

add, sub = func(3, 2)

print(add)
# Prints 5
print(sub)
# Prints 1

5
1

--------------------------------

## 8. Recursion
- A recursive function is a function that calls itself and repeats its behavior until some condition is met to return a result.

- In below example, **countdown()** is a recursive function that calls itself (recurse) to countdown. If **num** is 0 or negative, it prints the word “Stop”. Otherwise, it prints **num** and then calls itself, passing **num-1** as an argument.

In [13]:
def countdown(num):
    if num <= 0:
        print('Stop')
    else:
        print(num)
        countdown(num-1)

countdown(5)

5
4
3
2
1
Stop

In [ ]:
def tri_recursion(k):
  if(k>0):
    result = k+tri_recursion(k-1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

-------------

In [ ]:
def Hello():
  return "Hello World"

print(Hello())

Hello World

In [ ]:
def Hello():
  return "Hello World"

print(Hello().upper())

HELLO WORLD

-------

In [ ]:
# * ---> List & ** ---> Dictionary
def student_info(*args, **kwargs):
  print(args)
  print(kwargs)

courses = ['Math', 'Arts']
info = {'name': 'John', 'age': 26}

student_info(courses, info)

(['Math', 'Arts'], {'name': 'John', 'age': 26})
{}

In [ ]:
def student_info(*args, **kwargs):
  print(args)
  print(kwargs)

courses = ['Math', 'Arts']
info = {'name': 'John', 'age': 26}

student_info(*courses, **info)

('Math', 'Arts')
{'name': 'John', 'age': 26}

-----------------

In [ ]:
# Number of days per month. First value placeholder for indexing purposes
month_days = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

def is_leap(year):
  return year % 4 == 0 and (year % 100 !=0 or year % 400 == 0)

def days_in_month(year, month):
  if not 1 <= month <=12:
    return 'Invalid Month'

  if month == 2 and is_leap(year):
    return 29

  return month_days[month]

print(is_leap(2017))

False

In [ ]:
# Number of days per month. First value placeholder for indexing purposes
month_days = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

def is_leap(year):
  return year % 4 == 0 and (year % 100 !=0 or year % 400 == 0)

def days_in_month(year, month):
  if not 1 <= month <=12:
    return 'Invalid Month'

  if month == 2 and is_leap(year):
    return 29

  return month_days[month]

print(days_in_month(2017, 2))

28

--------------