<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/4_converting_data_date_time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("/content/drive/MyDrive/Datasets/No-show-Issue-300k.csv.zip", sep=";")
df.head()

   Age Gender AppointmentRegistration  ... Tuberculosis Sms_Reminder AwaitingTime
0   17      F    2014-03-26T14:11:55Z  ...            0            1          -14
1   21      F    2014-04-09T08:57:02Z  ...            0            0           -8
2   61      F    2015-10-07T07:26:45Z  ...            0            0           -1
3   55      F    2015-11-13T07:19:33Z  ...            0            1           -4
4    9      F    2014-05-06T09:06:16Z  ...            0            1          -37

[5 rows x 15 columns]

- Many times you will have to **deal with dates.** The problem is what variable category do dates fall into? are they **integers? are they string or are they alphanumeric.** Well if you have worked with **SQL** you would know, **date-time is itself a type.**

- Converting such data to date-time format makes it very easy to play around with dates.

- The data we have used above has dates in it. So letâ€™s get to it.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Age                      300000 non-null  int64
 1   Gender                   300000 non-null  object
 2   AppointmentRegistration  300000 non-null  object
 3   ApointmentData           300000 non-null  object
 4   DayOfTheWeek             300000 non-null  object
 5   Status                   300000 non-null  object
 6   Diabetes                 300000 non-null  int64
 7   Alcoolism                300000 non-null  int64
 8   HiperTension             300000 non-null  int64
 9   Handcap                  300000 non-null  int64
 10  Smokes                   300000 non-null  int64
 11  Scholarship              300000 non-null  int64
 12  Tuberculosis             300000 non-null  int64
 13  Sms_Reminder             300000 non-null  int64
 14  AwaitingTime             300000 non-null  int64
dtypes: int64(10), object(5)
memory usage: 34.3+ MB

In [6]:
# convert to datetime format
df["AppointmentRegistration"] = pd.to_datetime(df["AppointmentRegistration"])

In [7]:
df.head()

   Age Gender  ... Sms_Reminder AwaitingTime
0   17      F  ...            1          -14
1   21      F  ...            0           -8
2   61      F  ...            0           -1
3   55      F  ...            1           -4
4    9      F  ...            1          -37

[5 rows x 15 columns]

- we have used the **pandas to_datetime** function to convert the **ScheduledDay column** from **object** to a **DateTime type**.

- Now python knows that this column contains dates. It will be much easier for us to use these dates in processing now.

In [8]:
# extracting the day month and year from the date

print("Day:", df["AppointmentRegistration"][0].day)
print("Month:", df["AppointmentRegistration"][0].month)
print("Year:", df["AppointmentRegistration"][0].year)

Day: 26
Month: 3
Year: 2014