<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/4_How_to_Access_Columns_by_Name_in_Pandas_(Python).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.youtube.com/c/DataDaft?sub_confirmation=1

https://morioh.com/p/0ec21e502cb7

## How to Access Columns by Name in Pandas (Python)

In [1]:
import pandas as pd

In [2]:
import statsmodels.api as sm #(To access mtcars dataset)
mtcars = sm.datasets.get_rdataset("mtcars", "datasets", cache=True).data
mtcars.head()

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

                    mpg  cyl   disp   hp  drat  ...   qsec  vs  am  gear  carb
Mazda RX4          21.0    6  160.0  110  3.90  ...  16.46   0   1     4     4
Mazda RX4 Wag      21.0    6  160.0  110  3.90  ...  17.02   0   1     4     4
Datsun 710         22.8    4  108.0   93  3.85  ...  18.61   1   1     4     1
Hornet 4 Drive     21.4    6  258.0  110  3.08  ...  19.44   1   0     3     1
Hornet Sportabout  18.7    8  360.0  175  3.15  ...  17.02   0   0     3     2

[5 rows x 11 columns]

mtcars["mpg"]

mtcars.mpg

## 1. Access a column with direct indexing

In [3]:
mtcars["mpg"]

Mazda RX4              21.0
Mazda RX4 Wag          21.0
Datsun 710             22.8
Hornet 4 Drive         21.4
Hornet Sportabout      18.7
Valiant                18.1
Duster 360             14.3
Merc 240D              24.4
Merc 230               22.8
Merc 280               19.2
Merc 280C              17.8
Merc 450SE             16.4
Merc 450SL             17.3
Merc 450SLC            15.2
Cadillac Fleetwood     10.4
Lincoln Continental    10.4
Chrysler Imperial      14.7
Fiat 128               32.4
Honda Civic            30.4
Toyota Corolla         33.9
Toyota Corona          21.5
Dodge Challenger       15.5
AMC Javelin            15.2
Camaro Z28             13.3
Pontiac Firebird       19.2
Fiat X1-9              27.3
Porsche 914-2          26.0
Lotus Europa           30.4
Ford Pantera L         15.8
Ferrari Dino           19.7
Maserati Bora          15.0
Volvo 142E             21.4
Name: mpg, dtype: float64

## 2. Access a column with direct dot indexing

In [4]:
mtcars.mpg

Mazda RX4              21.0
Mazda RX4 Wag          21.0
Datsun 710             22.8
Hornet 4 Drive         21.4
Hornet Sportabout      18.7
Valiant                18.1
Duster 360             14.3
Merc 240D              24.4
Merc 230               22.8
Merc 280               19.2
Merc 280C              17.8
Merc 450SE             16.4
Merc 450SL             17.3
Merc 450SLC            15.2
Cadillac Fleetwood     10.4
Lincoln Continental    10.4
Chrysler Imperial      14.7
Fiat 128               32.4
Honda Civic            30.4
Toyota Corolla         33.9
Toyota Corona          21.5
Dodge Challenger       15.5
AMC Javelin            15.2
Camaro Z28             13.3
Pontiac Firebird       19.2
Fiat X1-9              27.3
Porsche 914-2          26.0
Lotus Europa           30.4
Ford Pantera L         15.8
Ferrari Dino           19.7
Maserati Bora          15.0
Volvo 142E             21.4
Name: mpg, dtype: float64

## 3. Access multiple columns by name

In [5]:
mtcars[["mpg","cyl","hp"]]

                      mpg  cyl   hp
Mazda RX4            21.0    6  110
Mazda RX4 Wag        21.0    6  110
Datsun 710           22.8    4   93
Hornet 4 Drive       21.4    6  110
Hornet Sportabout    18.7    8  175
Valiant              18.1    6  105
Duster 360           14.3    8  245
Merc 240D            24.4    4   62
Merc 230             22.8    4   95
Merc 280             19.2    6  123
Merc 280C            17.8    6  123
Merc 450SE           16.4    8  180
Merc 450SL           17.3    8  180
Merc 450SLC          15.2    8  180
Cadillac Fleetwood   10.4    8  205
Lincoln Continental  10.4    8  215
Chrysler Imperial    14.7    8  230
Fiat 128             32.4    4   66
Honda Civic          30.4    4   52
Toyota Corolla       33.9    4   65
Toyota Corona        21.5    4   97
Dodge Challenger     15.5    8  150
AMC Javelin          15.2    8  150
Camaro Z28           13.3    8  245
Pontiac Firebird     19.2    8  175
Fiat X1-9            27.3    4   66
Porsche 914-2        26.0    4   91
Lotus Europa         30.4    4  113
Ford Pantera L       15.8    8  264
Ferrari Dino         19.7    6  175
Maserati Bora        15.0    8  335
Volvo 142E           21.4    4  109

## 4. Access multiple columns by name with a subset of rows by row name

In [6]:
mtcars.loc[["Mazda RX4 Wag","Valiant", "Porsche 914-2"],["mpg","cyl","hp"]]

                mpg  cyl   hp
Mazda RX4 Wag  21.0    6  110
Valiant        18.1    6  105
Porsche 914-2  26.0    4   91

## 5. Access multiple columns by name with a subset of rows by row index

In [7]:
mtcars.loc[mtcars.index[[2,6,26]],["mpg","cyl","hp"]]

                mpg  cyl   hp
Datsun 710     22.8    4   93
Duster 360     14.3    8  245
Porsche 914-2  26.0    4   91