<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/Cumulative_Sum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Cumulative Sum

In [3]:
# importing pandas module 
import pandas as pd 
  
# importing numpy module 
import numpy as np 
  
# making list of values 
values = [3, 4, np.nan, 7, 2, 0] 

# making series from list 
series = pd.Series(values)
series

0    3.0
1    4.0
2    NaN
3    7.0
4    2.0
5    0.0
dtype: float64

In [4]:
# calling method 
cumsum = series.cumsum() 
  
# display 
cumsum

0     3.0
1     7.0
2     NaN
3    14.0
4    16.0
5    16.0
dtype: float64

Explanation
Cumulative sum is sum of current and all previous values. As shown in above output, the addition was done as follows

3

3+4 = 7

7+NaN = NaN

7+7 = 14

14+2 = 16

16+0 = 16

--------------------

## skipna=False
- In this example, a series is created just like in the above example. But the skipna parameter is kept False. Hence NULL values won’t be ignored and it would be added every time after it’s occurrence.
- As it can be seen in output, all the values after first occurrence of NaN are also NaN since any number + NaN is also NaN.

In [5]:
# making list of values 
values = [1, 20, 13, np.nan, 0, 1, 5, 23] 
  
# making series from list 
series = pd.Series(values) 
series

0     1.0
1    20.0
2    13.0
3     NaN
4     0.0
5     1.0
6     5.0
7    23.0
dtype: float64

In [6]:
# calling method 
cumsum = series.cumsum(skipna = False) 
  
# display 
cumsum

0     1.0
1    21.0
2    34.0
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
dtype: float64

--------------------