<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/Def%20function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd

In [6]:
def greet():
  print("Hello")
  print("Good Morning")

greet()

Hello
Good Morning

In [8]:
def add(x,y):
  c = x+y
  print(c)

add(5,4)

9

In [9]:
add(15,5)

20

In [10]:
def add(x,y):
  c = x+y
  return c

result = add(5,4)
print(result)

9

In [11]:
def add_sub(x,y):
  c = x+y
  d = x-y
  return c,d

result1, result2 = add_sub(5,4)
print(result1, result2)

9 1

In [22]:
def example():
  print("basic function")
  z = 3+9
  print(z)

example()

basic function
12

---------------------------------------------

In [12]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [15]:
def my_function(fname):
  print(fname + " Anuganti")

my_function("Suresh")
my_function("Saanvi")
my_function("Tanvee")

Suresh Anuganti
Saanvi Anuganti
Tanvee Anuganti

In [18]:
def my_function(Country = "Norway"):
  print("I am from " + Country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

--------------------------------------

## Return

In [7]:
b = 30
def fun(a, b=b):
  return a+b

print(fun(1))

31

In [20]:
# Return values
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

--------------------------------

## Recursion

In [21]:
def tri_recursion(k):
  if(k>0):
    result = k+tri_recursion(k-1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21