<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/Def.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [ ]:
def greet():
  print("Hello")
  print("Good Morning")

greet()

Hello
Good Morning

---------------

In [ ]:
def add(x,y):
  c = x+y
  print(c)

add(5,4)

9

In [ ]:
add(15,5)

20

In [2]:
def Add(num1, num2):
  print(num1 + num2)

Add(5, 5)

10

In [3]:
def returnAdd(num1, num2):
  return(num1 + num2)

sum = returnAdd(15, 5)

print(sum)

20

---------------

In [ ]:
def add(x,y):
  c = x+y
  return c

result = add(5,4)
print(result)

9

In [ ]:
def add_sub(x,y):
  c = x+y
  d = x-y
  return c,d

result1, result2 = add_sub(5,4)
print(result1, result2)

9 1

In [ ]:
def example():
  print("basic function")
  z = 3+9
  print(z)

example()

basic function
12

---------------------------------------------

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [ ]:
def my_function(fname):
  print(fname + " Anuganti")

my_function("Suresh")
my_function("Saanvi")
my_function("Tanvee")

Suresh Anuganti
Saanvi Anuganti
Tanvee Anuganti

In [ ]:
def my_function(Country = "Norway"):
  print("I am from " + Country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

--------------------------------------

## Return

In [ ]:
b = 30
def fun(a, b=b):
  return a+b

print(fun(1))

31

In [ ]:
# Return values
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

--------------------------------

## Recursion

In [ ]:
def tri_recursion(k):
  if(k>0):
    result = k+tri_recursion(k-1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

-------------

In [4]:
def Hello():
  return "Hello World"

print(Hello())

Hello World

In [5]:
def Hello():
  return "Hello World"

print(Hello().upper())

HELLO WORLD

-------

In [8]:
# * ---> List & ** ---> Dictionary
def student_info(*args, **kwargs):
  print(args)
  print(kwargs)

courses = ['Math', 'Arts']
info = {'name': 'John', 'age': 26}

student_info(courses, info)

(['Math', 'Arts'], {'name': 'John', 'age': 26})
{}

In [9]:
def student_info(*args, **kwargs):
  print(args)
  print(kwargs)

courses = ['Math', 'Arts']
info = {'name': 'John', 'age': 26}

student_info(*courses, **info)

('Math', 'Arts')
{'name': 'John', 'age': 26}

-----------------

In [14]:
# Number of days per month. First value placeholder for indexing purposes
month_days = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

def is_leap(year):
  return year % 4 == 0 and (year % 100 !=0 or year % 400 == 0)

def days_in_month(year, month):
  if not 1 <= month <=12:
    return 'Invalid Month'

  if month == 2 and is_leap(year):
    return 29

  return month_days[month]

print(is_leap(2017))

False

In [13]:
# Number of days per month. First value placeholder for indexing purposes
month_days = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

def is_leap(year):
  return year % 4 == 0 and (year % 100 !=0 or year % 400 == 0)

def days_in_month(year, month):
  if not 1 <= month <=12:
    return 'Invalid Month'

  if month == 2 and is_leap(year):
    return 29

  return month_days[month]

print(days_in_month(2017, 2))

28

--------------