<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/For_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Print "Thank you" 5 times
for number in range(5):
    print("Thank you")

Thank you
Thank you
Thank you
Thank you
Thank you

In [ ]:
languages = ['R', 'Python',  'Scala', 'Java', 'Julia']

for index in range(len(languages)):
   print('Current language:', languages[index])

Current language: R
Current language: Python
Current language: Scala
Current language: Java
Current language: Julia

-----------------------------

In [ ]:
# Print the below statement 3 times
for number in range(10) :  
    print("I am number : "+str(number))

I am number : 0
I am number : 1
I am number : 2
I am number : 3
I am number : 4
I am number : 5
I am number : 6
I am number : 7
I am number : 8
I am number : 9

In [ ]:
for x in range(10):  
    print("I am number:", x)

I am number: 0
I am number: 1
I am number: 2
I am number: 3
I am number: 4
I am number: 5
I am number: 6
I am number: 7
I am number: 8
I am number: 9

In [ ]:
for x in range(0, 5):
    print("hello world", x)

hello world 0
hello world 1
hello world 2
hello world 3
hello world 4

In [ ]:
for yr in range(1, 11):
  print("https://en.wikipedia.org/wiki/" + str(yr))

https://en.wikipedia.org/wiki/1
https://en.wikipedia.org/wiki/2
https://en.wikipedia.org/wiki/3
https://en.wikipedia.org/wiki/4
https://en.wikipedia.org/wiki/5
https://en.wikipedia.org/wiki/6
https://en.wikipedia.org/wiki/7
https://en.wikipedia.org/wiki/8
https://en.wikipedia.org/wiki/9
https://en.wikipedia.org/wiki/10

In [ ]:
for whatev in range(1, 11):
  print("https://en.wikipedia.org/wiki/" + str(whatev) + "_(number)")

https://en.wikipedia.org/wiki/1_(number)
https://en.wikipedia.org/wiki/2_(number)
https://en.wikipedia.org/wiki/3_(number)
https://en.wikipedia.org/wiki/4_(number)
https://en.wikipedia.org/wiki/5_(number)
https://en.wikipedia.org/wiki/6_(number)
https://en.wikipedia.org/wiki/7_(number)
https://en.wikipedia.org/wiki/8_(number)
https://en.wikipedia.org/wiki/9_(number)
https://en.wikipedia.org/wiki/10_(number)

------------------------------

In [ ]:
myfile = "example.txt"
for x in myfile:
  print(x.upper())

E
X
A
M
P
L
E
.
T
X
T

------------------------------------

### Append

In [ ]:
squares = []
for x in range(10):
  squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

-----------------

https://www.w3schools.com/python/python_for_loops.asp

https://www.learnbyexample.org/python-for-loop/

- A for loop is used for **iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string)**

- Python’s for statement iterates over the items of any iterable (list, tuple, dictionary, set, or string). The items are iterated in the order that they appear in the iterable.

### 1. Looping Through a String
- Even strings are iterable objects, they contain a sequence of characters:

In [ ]:
# Loop through the letters in the word "banana"
for x in "banana":
  print(x)

b
a
n
a
n
a

### 2. Looping Through Lists

In [1]:
# Iterate through a list
colors = ['red', 'green', 'blue', 'yellow']
for x in colors:
    print(x)

red
green
blue
yellow

### 3. Looping Through Multiple Lists
- Using built-in zip() function you can loop through multiple lists at once.

In [9]:
# Loop through two lists at once

name = ['Bob', 'Sam', 'Max']
age = [25, 35, 30]
for x, y in zip(name, age):
    print(x, y)

Bob 25
Sam 35
Max 30

### 2. break Statement
- With the **break** statement we can **stop the loop before it has looped through all the items**

- Python break statement is used to exit the loop immediately. It simply jumps out of the loop altogether, and the program continues after the loop

In [ ]:
# Exit the loop when x is "banana":

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:
# Exit the loop when x is "banana", but this time the break comes before the print

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [ ]:
for x in range(3):
    if x == 2:
        break

    print(x)

0
1

In [ ]:
for letter in 'geeksforgeeks': 
 
    # break the loop as soon it sees 'e' 
    # or 's'
    if letter == 'e' or letter == 's':
         break
    print('Current Letter :', letter)

Current Letter : g

In [2]:
# Break the loop at 'blue'

colors = ['red', 'green', 'blue', 'yellow']
for x in colors:
    if x == 'blue':
        break
    print(x)

red
green

### 3. continue Statement
- With the **continue** statement we can **stop the current iteration of the loop, and continue with the next**

- The continue statement skips the current iteration of a loop and continues with the next iteration

In [ ]:
# Do not print banana

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [ ]:
# Prints all letters except 'e' and 's'

for letter in 'geeksforgeeks': 
    if letter == 'e' or letter == 's':
         continue
    print('Current Letter :', letter)
    var = 10

Current Letter : g
Current Letter : k
Current Letter : f
Current Letter : o
Current Letter : r
Current Letter : g
Current Letter : k

In [3]:
# Skip 'blue'

colors = ['red', 'green', 'blue', 'yellow']
for x in colors:
    if x == 'blue':
        continue
    print(x)

red
green
yellow

### 4. pass Statement
- for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [ ]:
for x in [0, 1, 2]:
  pass

### 4. range() Function
- To loop through a set of code a specified number of times, we can use the range() function,

- The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

- Note that **range(6)** is not the values of **0 to 6**, but the values **0 to 5.**

In [ ]:
# Using the range() function

for x in range(6):
  print(x)

0
1
2
3
4
5

- The range() function **defaults to 0 as a starting value**, however it is possible to specify the starting value by adding a parameter: **range(2, 6)**, which means **values from 2 to 6 (but not including 6)**:

In [ ]:
# Using the start parameter

for x in range(2, 6):
  print(x)

2
3
4
5

- The range() function **defaults to increment the sequence by 1**, however it is possible to specify the **increment value** by adding a third parameter: **range(2, 30, 3):**

In [ ]:
# Increment the sequence with 3 (default is 1)

for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

### 5. Else in For Loop
- The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

- Python allows an optional else clause at the end of a for loop. The else clause will be executed if the loop terminates naturally (through exhaustion).

In [ ]:
# Print all numbers from 0 to 5, and print a message when the loop has ended:

for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [4]:
colors = ['red', 'green', 'blue', 'yellow']
for x in colors:
    print(x)
else:
    print('Done!')
# Prints red green blue yellow
# Prints Done!

red
green
blue
yellow
Done!

- If the loop terminates prematurely with break, the else clause won’t be executed.

In [5]:
colors = ['red', 'green', 'blue', 'yellow']
for x in colors:
    if x == 'blue':
        break
    print(x)
else:
    print('Done!')
# Prints red green

red
green

### 6. Nested Loops
- A **nested loop** is a loop **inside a loop**.

- The **"inner loop"** will be executed **one time** for each iteration of the **"outer loop":**

- A loop inside another loop is called a nested loop.

In [ ]:
# Print each adjective for every fruit:

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [6]:
# Flatten a nested list
list = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]   
for sublist in list:
    for number in sublist:
        print(number)
# Prints 1 2 3 4 5 6 7 8 9

1
2
3
4
5
6
7
8
9

### Dictionary

In [ ]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
d.items()

dict_items([('foo', 1), ('bar', 2), ('baz', 3)])

In [ ]:
d = {'foo': 1, 'bar': 2, 'baz': 3}

for k, v in d.items():
  print('k =', k, ', v =', v)

k = foo , v = 1
k = bar , v = 2
k = baz , v = 3

### Access Index in for Loop
- To iterate over the indices of a sequence, you can combine range() and len() as follows:

In [7]:
colors = ['red', 'green', 'blue']
for index in range(len(colors)):
    print(index, colors[index])

0 red
1 green
2 blue

In [8]:
# However, in most such cases it is convenient to use the enumerate() function.

colors = ['red', 'green', 'blue']
for index, value in enumerate(colors):
    print(index, value)

0 red
1 green
2 blue

### Unpacking in a for loop
- Below for loop does a multiple assignment (unpack the current tuple) each time through the loop

In [10]:
# Tuple unpacking

T = [(1, 2), (3, 4), (5, 6)]
for (a, b) in T:
    print(a, b)

1 2
3 4
5 6

- Likewise, you can iterate through both keys and values in a dictionary

In [11]:
# Dictionary unpacking

D = {'name': 'Bob', 'age': 25}
for x, y in D.items():
	print(x, y)

name Bob
age 25

-----------------------

## Interview Questions

### 1. For Loop

In [ ]:
# What is the output?

word1 = "welcome"
word2 = "home"
r = []
for x in word1:
  if x in word2:
    r.append(x)
print(r[2]+r[1]+r[2])

mom

In [ ]:
# What is the output of this code?

lst = [1, 2, 3, 4, 5]
for i in range(1,6):
  lst[i:i] = [i]
print(lst)

[1, 1, 2, 3, 4, 5, 2, 3, 4, 5]

In [ ]:
# What is the output of this code?

num1 = [1,3,4,5]
num2 = num1
num2[0] = 5
print(num1[0])

5

In [ ]:
# What is the output of this code?

li = list()
for i in range(1,5):
  li.append(i+2)
print(li)

[3, 4, 5, 6]

### AttributeError: 'dict' object has no attribute 'append'

li = {}
for i in range(1,5):
  li.append(i+2)
print(li)

### AttributeError: 'tuple' object has no attribute 'append'

li = ()
for i in range(1,5):
  li.append(i+2)
print(li)

In [ ]:
list = [2, 33, 222, 14, 25]
list[-1]

25

In [ ]:
list1 = [11,2,23]
list2 = [11,2,2]
print(list1 < list2)

False

In [ ]:
list1 = [11,2,23]
list2 = [11,2,2]
print(list1 > list2)

True

In [ ]:
# What is the output of this code?

for i in range(4):
  if(i==2):
    print('n', end="")
  elif(i==1):
    print('e', end="")
  else:
    print('t', end="")

tent

In [ ]:
# What is the output of this code?

x,y = 0, True
x = x+1
y = int(True)
print(id(x) == id(y))

True

In [ ]:
# What is the output of the following statement?

x = '24' + '16'
print(x)

2416

### Python Arithmetic Operators
-   +       Addition
-   -       Subtraction
-   *       Multiplication
-   /       Division
-   %       Modulus
-   **      Exponentiation
-  //       Floor division

In [ ]:
# What is the output of the following statement?
# Floor Division (Arithmetic Operation)

x = 8
y = 2
print(x // y)

4

------------------------------

In [ ]:
a = "(hello, python, learning)"
b = tuple(a)
len(b)

25

In [ ]:
b = "Hello, World!"
print(b[2:5:2]*2)

lolo

## Python Comparison Operators
==          Equal
!=          Not equal
>           Greater than
<           Less than
>=          Greater than or equal to
<=          Less than or equal to

In [ ]:
num1 = 3**5
num2 = 3**5.0
print(num1 == num2)

True

-------------------------------------

https://www.w3schools.com/python/ref_string_format.asp

In [ ]:
# What is the output of the following statement?

print('The sum of {0} and {1} is {2}'.format(2, 10, 12))

The sum of 2 and 10 is 12

In [ ]:
'{} {}'.format('one', 'two')

'one two'

In [ ]:
print('{} {}'.format('one', 'two'))

one two

In [ ]:
'{} {}'.format(1, 2)

'1 2'

In [ ]:
print('{} {}'.format(1, 2))

1 2

In [ ]:
'{1} {0}'.format('one', 'two')

'two one'

In [ ]:
from datetime import datetime

In [ ]:
'{:%Y-%m-%d %H:%M}'.format(datetime(2001, 2, 3, 4, 5))

'2001-02-03 04:05'

In [ ]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

### The Placeholders
- The **placeholders** can be identified using **named indexes {price}**, **numbered indexes {0}**, or even **empty placeholders {}**

In [ ]:
# Using different placeholder values
txt1 = "My name is {fname}, I'am {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'am {1}".format("John",36)
txt3 = "My name is {}, I'am {}".format("John",36)

In [ ]:
txt1

"My name is John, I'am 36"

In [ ]:
txt2

"My name is John, I'am 36"

In [ ]:
txt3

"My name is John, I'am 36"

### Syntax : { } .format(value)

In [ ]:
# Python3 program to demonstarte the str.format() method 
  
# using format option in a simple string 
print ("{}, A computer science portal for geeks.".format("GeeksforGeeks")) 
  
# using format option for a value stored in a variable 
str = "This article is written in {}"
print (str.format("Python")) 
  
# formatting a string using a numeric constant 
print ("Hello, I am {} years old !".format(18))

GeeksforGeeks, A computer science portal for geeks.
This article is written in Python
Hello, I am 18 years old !

### Syntax : { } { } .format(value1, value2)

In [ ]:
# Python program using multiple place holders to demonstrate str.format() method  
  
# Multiple placeholders in format() function 
my_string = "{}, is a {} science portal for {}"
print (my_string.format("GeeksforGeeks", "computer", "geeks")) 
  
# different datatypes can be used in formatting 
print ("Hi ! My name is {} and I am {} years old".format("User", 19)) 
  
# The values passed as parameters are replaced in order of their entry 
print ("This is {} {} {} {}".format("one", "two", "three", "four"))

GeeksforGeeks, is a computer science portal for geeks
Hi ! My name is User and I am 19 years old
This is one two three four

---------------------------------

In [ ]:
for x in range(1, 11):
  print(repr(x).rjust(2), repr(x*x).rjust(3), end=' ')
  print(repr(x*x*x).rjust(4))

 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000

In [ ]:
for i in range(4):
  if(i==2):
    print('n')
  elif(i==1):
    print('e')
  else:
    print('t')

t
e
n
t

In [ ]:
# What is the output of this code?

for i in range(4):
  if(i==2):
    print('n', end="")
  elif(i==1):
    print('e', end="")
  else:
    print('t', end="")

tent