<a href="https://colab.research.google.com/github/sureshmecad/Google-Colab/blob/master/Udemy_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- variable name should start with lower case character

- digits are allowed but not at the start

- _ allowed; __ not allowed

In [6]:
first_num = 10
second_num = 15
addition = first_num + second_num
print(addition)

25

In [7]:
print(type(first_num), type(second_num))
print(id(first_num), id(second_num))

<class 'int'> <class 'int'>
94127944059680 94127944059840

In [8]:
a = 10
b = 10

In [9]:
print(id(a), id(b))

94127944059680 94127944059680

In [10]:
num1 = 100
num1 = 105
print(id(num1))

94127944062720

In [11]:
s = "python"
print(id(s))
print(s, type(s))

s = "new value"
print(id(s))
print(s, type(s))

140689568614448
python <class 'str'>
140688877112048
new value <class 'str'>

### **DataTypes**

In [19]:
# List (mutable)

l = [10, 20, 30, 40, 50, "Python", "Django"]
print(l)
print(id(l))
print('------------------------------------------------')
l.append(60)
print(l)

print(id(l))

[10, 20, 30, 40, 50, 'Python', 'Django']
140688876769520
------------------------------------------------
[10, 20, 30, 40, 50, 'Python', 'Django', 60]
140688876769520

In [16]:
# tuple       -->  (immutable)
# dictionary  -->  (mutable)
# Set         -->  (mutable)

In [20]:
num1 = 100
num2 = 100

print(num1 == num2)
print(num1 is num2)

True
True

In [21]:
l1 = [10, 20, 30]
l2 = [10, 20, 30]

print(l1 == l2)
print(l1 is l2)

True
False